In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_insta = pd.read_csv("../datasets/df_insta_2020-10-12.csv", parse_dates=["date_time"])
df_insta.head(3)

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
0,2415039914432249111,CGD8gG6H70X,1602115214,2020-10-08 00:00:14,We may be stressed and tied up during the week...,"['#selfcaresaturday', '#saturday', '#skincare'...","['one or more people', ""text that says 'Charge...",False,False,2,NaN,NaN,3986460102,False,False,False,169,263
1,2403781281091523733,CFb8lbhMZSV,1600773080,2020-09-22 11:11:20,"Wanted mooncakes, but found something else... ...","['#oldman', '#lunchtime', '#streetphotography'...",NaN,False,False,26,Chinatown,chinatown,32884185,False,False,False,512,269
2,2412436218553090968,CF6sfWKJMOY,1601804829,2020-10-04 09:47:09,"Me the local tourist, visited Pulau Ubin, Part...","['#singaporediscovers', '#pulauubin', '#bumboa...",NaN,False,False,15,"Pulau Ubin, Singapore",pulau-ubin-singapore,1477803308,False,False,False,1221,377

In [4]:
df_insta.shape

(3104, 18)

In [5]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3104 entries, 0 to 3103
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   post_id                3104 non-null   int64
 1   post_slug              3104 non-null   object
 2   unix_time              3104 non-null   int64
 3   date_time              3104 non-null   datetime64[ns]
 4   post_caption           3083 non-null   object
 5   hashtags               3083 non-null   object
 6   topic_tags             2037 non-null   object
 7   is_video               3104 non-null   bool
 8   is_ad                  3104 non-null   bool
 9   post_likes             3104 non-null   int64
 10  geo_tag                2383 non-null   object
 11  geo_slug               2378 non-null   object
 12  owner_id               3104 non-null   int64
 13  owner_verified         3104 non-null   bool
 14  owner_privacy          3104 non-null   bool
 15  owner_unpublished      3104 non-null   bool
 16  owner_total_posts      3104 non-null   int64
 17  owner_total_followers  3104 non-null   int64
dtypes: bool(5), datetime64[ns](1), int64(6), object(6)
memory usage: 330.5+ KB

In [24]:
df_insta["hashtags"].isnull().sum()

21

In [15]:
check = []
for hashes in df_insta["hashtags"].str.lower():
    try:
        if "#singaporediscovers" in hashes:
            check.append(True)
    except:
        check.append(False)

In [16]:
pd.Series(check).value_counts()

True     2604
False      21
dtype: int64

In [29]:
df_insta["hashtags"][0]

"['#selfcaresaturday', '#saturday', '#skincare', '#saturdaymood', '#saturdaycare', '#saturdayfun', '#beautysg', '#sgfinds', '#selfcare', '#coslabbeautyspa', '#teamcoslab', '#beautyundercoversg', '#sgpromo', '#sgdeals', '#sgbeauty', '#supportlocalsg', '#SingapoRediscovers', '#shoponline', '#freedelivery', '#coslab1010', '#1010sale', '#savethedate']"

In [56]:
mask = df_insta["hashtags"].str.lower().str.contains("#singaporediscovers|singaporediscover").astype("bool")
mask.value_counts()

True     2625
False     479
Name: hashtags, dtype: int64

In [57]:
df_insta[~mask][["hashtags", "post_caption"]]

,hashtags,post_caption
9,[],A Heart Warming Mid-Autumn 2020\n牛车水庆中秋2020\nC...
19,['#misterzimi'],a few times i came to @raffleshotelsingapore f...
22,[],Me: 📸📸📸\n\nThe uncles trying to do their laund...
33,[],"Showers & Rainbow\nTiong Bahru, Singapore\n5.5..."
34,[],Directions\n\nCOVID-19 took the world by its a...
...,...,...
3083,"['#magicboxsg', '#magixers']",We are the only one-stop online gifting platfo...
3088,[],I could get used to spending my weekend aftern...
3089,[],Looks safe. What could possibly go wrong here?...
3092,[],Just wanna chill at the pool and lay there soa...
3101,[],The former Six Senses Duxton will be relaunche...