In [1]:
import pandas as pd
import numpy as np
import re

### Import Instagram Scrapes

In [2]:
df_insta_rediscoversg = pd.read_csv("../datasets/df_insta_rediscoversg_2020-10-18.csv", parse_dates=["date_time"])
df_insta_rediscoversg.shape

(2352, 18)

In [3]:
# ensure that there are no duplicate scrapes within df
df_insta_rediscoversg["post_id"].nunique()

2352

In [4]:
df_insta_rediscoversingapore = pd.read_csv("../datasets/df_insta_rediscoversingapore_2020-10-19.csv", parse_dates=["date_time"])
df_insta_rediscoversingapore.shape

(1226, 18)

In [5]:
# ensure that there are no duplicate scrapes within df
df_insta_rediscoversingapore["post_id"].nunique()

1226

In [6]:
df_insta_singapoliday = pd.read_csv("../datasets/df_insta_singapoliday_2020-10-19.csv", parse_dates=["date_time"])
df_insta_singapoliday.shape

(1445, 18)

In [7]:
# ensure that there are no duplicate scrapes within df
df_insta_singapoliday["post_id"].nunique()

1445

In [8]:
df_insta_singaporeliday = pd.read_csv("../datasets/df_insta_singaporeliday_2020-10-19.csv", parse_dates=["date_time"])
df_insta_singaporeliday.shape

(400, 18)

In [9]:
# ensure that there are no duplicate scrapes within df
df_insta_singaporeliday["post_id"].nunique()

400

In [10]:
df_insta_madaboutsingapore2020 = pd.read_csv("../datasets/df_insta_madaboutsingapore2020_2020-10-20.csv", parse_dates=["date_time"])
df_insta_madaboutsingapore2020.shape

(4600, 18)

In [11]:
# ensure that there are no duplicate scrapes within df
df_insta_madaboutsingapore2020["post_id"].nunique()

4600

In [12]:
df_insta_madaboutsingapore2020c = pd.read_csv("../datasets/df_insta_madaboutsingapore2020c_2020-10-20.csv", parse_dates=["date_time"])
df_insta_madaboutsingapore2020c.shape

(1250, 18)

In [13]:
# ensure that there are no duplicate scrapes within df
df_insta_madaboutsingapore2020c["post_id"].nunique()

1250

In [14]:
# there are multiple CSVs saved out from scraping #SingapoRediscovers with expected duplicate posts scraped
# since it is our official hashtag, there is greater effort to have more current posts

In [15]:
df_insta_singaporediscovers_1 = pd.read_csv("../datasets/df_insta_singaporediscovers_2020-10-12.csv", parse_dates=["date_time"])
df_insta_singaporediscovers_1.shape

(3104, 18)

In [16]:
# ensure that there are no duplicate scrapes within df
df_insta_singaporediscovers_1["post_id"].nunique()

3104

In [17]:
df_insta_singaporediscovers_2 = pd.read_csv("../datasets/df_insta_singaporediscovers_2020-10-20.csv", parse_dates=["date_time"])
df_insta_singaporediscovers_2.shape

(1981, 18)

In [18]:
# ensure that there are no duplicate scrapes within df
df_insta_singaporediscovers_2["post_id"].nunique()

1981

In [19]:
df_insta_singaporediscovers_3 = pd.read_csv("../datasets/df_insta_singaporediscovers_2020-10-21.csv", parse_dates=["date_time"])
df_insta_singaporediscovers_3.shape

(1787, 18)

In [20]:
# ensure that there are no duplicate scrapes within df
df_insta_singaporediscovers_3["post_id"].nunique()

1787

In [21]:
df_insta_singaporediscovers_4 = pd.read_csv("../datasets/df_insta_singaporediscovers_2020-10-22.csv", parse_dates=["date_time"])
df_insta_singaporediscovers_4.shape

(4199, 18)

In [22]:
# ensure that there are no duplicate scrapes within df
df_insta_singaporediscovers_4["post_id"].nunique()

4199

### Merge Instagram DataFrames

In [23]:
def compile_unique_insta(df1, df2):
    
    # find duplicate posts that share target hashtags
    post_id_intersects = set(df1["post_id"]).intersection(set(df2["post_id"]))
    print("Duplicate posts removed:", len(post_id_intersects))
    
    # use df1 as master copy to add to
    # drop duplicates from df2
    # concat as single df without duplicates
    dups = df2["post_id"].isin(post_id_intersects)
    df_concat = pd.concat([df1, df2[~dups]])
    
    return df_concat

In [24]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta_rediscoversg, df_insta_rediscoversingapore)
df_insta.shape

Duplicate posts removed: 93

(3485, 18)

In [25]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singapoliday)
df_insta.shape

Duplicate posts removed: 159

(4771, 18)

In [26]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singaporeliday)
df_insta.shape

Duplicate posts removed: 5

(5166, 18)

In [27]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_madaboutsingapore2020)
df_insta.shape

Duplicate posts removed: 19

(9747, 18)

In [28]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_madaboutsingapore2020c)
df_insta.shape

Duplicate posts removed: 149

(10848, 18)

In [29]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singaporediscovers_1)
df_insta.shape

Duplicate posts removed: 414

(13538, 18)

In [30]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singaporediscovers_2)
df_insta.shape

Duplicate posts removed: 1248

(14271, 18)

In [31]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singaporediscovers_3)
df_insta.shape

Duplicate posts removed: 1697

(14361, 18)

In [32]:
# remove duplicate posts with shared target hashtags
df_insta = compile_unique_insta(df_insta, df_insta_singaporediscovers_4)
df_insta.shape

Duplicate posts removed: 4024

(14536, 18)

In [33]:
# reset index for final df
df_insta.reset_index(drop=True, inplace=True)

### Instagram Data Cleaning

#### Data Overview

In [34]:
df_insta.head(3)

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
0,1006641971264095607,34T4oZMgV3,1434221095,2015-06-13 18:44:55,Oh look! Natural heart shaped form of Ivan Hen...,"['#PinkDotSg', '#WhereLovesLiveSg', '#Rediscov...",['2 people.'],False,False,40,Pinkdot @ Hong Lim Park,pinkdot-hong-lim-park,196778200,False,False,False,5205,1232
1,1202880298563729182,BCxfUInNPce,1457614527,2016-03-10 12:55:27,.\n.\n.\n.\n.\n.\n#exploresingapore #instasg #...,"['#exploresingapore', '#instasg', '#gf_singapo...",['indoor.'],False,False,33,Yangtze Cinema,yangtze-cinema,33123388,False,False,False,742,995
2,677102977071319026,lljZH4sgfy,1394936986,2014-03-16 02:29:46,On the road to hell..... Reliving Haw Par Vill...,"['#rediscoversg', '#Singapore']",['Photo by Belinda Tan in 虎豹别墅.'],False,False,3,虎豹别墅,NaN,196778200,False,False,False,5205,1232

In [35]:
# check that there are no duplicate scrapes
df_insta.duplicated(keep="first").value_counts()

False    14536
dtype: int64

In [36]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14536 entries, 0 to 14535
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   post_id                14536 non-null  int64
 1   post_slug              14536 non-null  object
 2   unix_time              14536 non-null  int64
 3   date_time              14536 non-null  datetime64[ns]
 4   post_caption           14485 non-null  object
 5   hashtags               14486 non-null  object
 6   topic_tags             10819 non-null  object
 7   is_video               14536 non-null  bool
 8   is_ad                  14536 non-null  bool
 9   post_likes             14536 non-null  int64
 10  geo_tag                10035 non-null  object
 11  geo_slug               9966 non-null   object
 12  owner_id               14536 non-null  int64
 13  owner_verified         14536 non-null  bool
 14  owner_privacy          14536 non-null  bool
 15  owner_unpublished      14536 non-null  bool
 16  owner_total_posts      14536 non-null  int64
 17  owner_total_followers  14536 non-null  int64
dtypes: bool(5), datetime64[ns](1), int64(6), object(6)
memory usage: 1.5+ MB

In [37]:
# we can observe missing data for "post_caption", "hashtags", "topic_tags", "geo_tag", and "geo_slug"

#### Missing Text

In [38]:
# view posts with missing post captions
df_insta[df_insta["post_caption"].isnull()][:5]

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
254,81927368,E4hzI,1306671117,2011-05-29 12:11:57,NaN,NaN,"['Photo by 🥂🍾🤳🏻🍽🍻☕️🍱📷 •Serena• on May 29', '20...",False,False,6,NaN,NaN,1438456,False,False,False,1153,800
262,91740491,Fd9lL,1307686593,2011-06-10 06:16:33,NaN,NaN,"['Photo by Phy 🌈 on June 09', '2011.']",False,False,436,NaN,NaN,122507,False,False,False,808,4313
411,87862638,FPK1u,1307283293,2011-06-05 14:14:53,NaN,NaN,"['Photo by @leowmervyn on June 05', '2011.']",False,False,1,NaN,NaN,2175417,False,False,False,785,628
930,84998561,FEPmh,1307013387,2011-06-02 11:16:27,NaN,NaN,"['Photo by Us Ennovy on June 02', '2011.']",False,False,46,NaN,NaN,37097,False,False,False,1368,946
1268,517123101217322081,ctMLiBNPRh,1375865899,2013-08-07 08:58:19,NaN,NaN,['Photo by 无名 in Dragon Traditional Playground...,False,False,33,Dragon Traditional Playground @ Blk 28 Lorong ...,dragon-traditional-playground-blk-28-lorong-6-...,33123388,False,False,False,742,994

In [39]:
# view posts with missing hashtags
df_insta[df_insta["hashtags"].isnull()][:5]

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
254,81927368,E4hzI,1306671117,2011-05-29 12:11:57,NaN,NaN,"['Photo by 🥂🍾🤳🏻🍽🍻☕️🍱📷 •Serena• on May 29', '20...",False,False,6,NaN,NaN,1438456,False,False,False,1153,800
262,91740491,Fd9lL,1307686593,2011-06-10 06:16:33,NaN,NaN,"['Photo by Phy 🌈 on June 09', '2011.']",False,False,436,NaN,NaN,122507,False,False,False,808,4313
411,87862638,FPK1u,1307283293,2011-06-05 14:14:53,NaN,NaN,"['Photo by @leowmervyn on June 05', '2011.']",False,False,1,NaN,NaN,2175417,False,False,False,785,628
930,84998561,FEPmh,1307013387,2011-06-02 11:16:27,NaN,NaN,"['Photo by Us Ennovy on June 02', '2011.']",False,False,46,NaN,NaN,37097,False,False,False,1368,946
1268,517123101217322081,ctMLiBNPRh,1375865899,2013-08-07 08:58:19,NaN,NaN,['Photo by 无名 in Dragon Traditional Playground...,False,False,33,Dragon Traditional Playground @ Blk 28 Lorong ...,dragon-traditional-playground-blk-28-lorong-6-...,33123388,False,False,False,742,994

In [40]:
# almost number of missing values in post captions and hashtags (1 more missing value in hashtags)
### because hashtags were extracted from post captions during scraping
### if there were no post captions, then there were no hashtags too
### this also means that except for a single instance, hashtags occur in every other post captions

In [41]:
# view posts with missing topic tags
df_insta[df_insta["topic_tags"].isnull()][:5]

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
6,2406162771994753499,CFkaErwhDnb,1601056976,2020-09-25 18:02:56,Do you know: Sembawang beach is one of the few...,"['#sglgexperience', '#localguides', '#singapor...",NaN,False,False,10,Sembawang Park Fishing Jetty,sembawang-park-fishing-jetty,32045251153,False,False,False,54,48
10,936794654076236572,0AKcZHsvMc,1425894646,2015-03-09 09:50:46,We see the city in a different light. We see t...,"['#parkour', '#parkoursingapore', '#tracer', '...",NaN,True,False,42,NaN,NaN,736533259,False,False,False,1265,1296
21,2397733941879266230,CFGdlD_nFu2,1600052181,2020-09-14 02:56:21,It's so much fun at the @artsciencemuseumsg ! ...,"['#bbleeia', '#3yrs9mthsold', '#sgtoddler', '#...",NaN,False,False,18,NaN,NaN,25853204741,False,False,False,60,61
23,2412577720199380739,CF7Mqd1gX8D,1601821697,2020-10-04 14:28:17,Passed by the wild boar reserves on the way ba...,"['#wildboar', '#sgparks', '#sgpark', '#lorongh...",NaN,False,False,9,Lorong Halus Wetlands,lorong-halus-wetlands,26917320,False,False,False,1573,293
33,2380369779289274027,CEIxbPYnLar,1597982211,2020-08-21 03:56:51,"Associated Handicrafts in Ang Mo Kio, which pr...","['#rediscoversg', '#mysingapore', '#whatmakessg']",NaN,False,False,13,NaN,NaN,8060782,False,False,False,14499,566

In [42]:
# find posts without both captions and topic tags
missing_intersect = set(df_insta[df_insta["topic_tags"].isnull()]["post_id"]).intersection(set(df_insta[df_insta["post_caption"].isnull()]["post_id"]))
mask = df_insta["post_id"].isin(missing_intersect)
print("No. of posts without text:", len(df_insta[mask]))
df_insta[mask]

No. of posts without text: 5

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
6748,2355897232517229971,CCx1A0Hg-2T,1595064907,2020-07-18 09:35:07,NaN,[],NaN,True,False,48,NaN,NaN,30679523,False,False,False,560,43906
9353,2151641071654035438,B3cKiegFF_u,1570715625,2019-10-10 13:53:45,NaN,NaN,NaN,False,False,109,Singapore,singapore,1494605314,False,False,False,269,717
11762,2401679332442353362,CFUeqDSn67S,1600522508,2020-09-19 13:35:08,NaN,NaN,NaN,False,False,22,Chinatown,chinatown,6654500502,False,False,False,80,74
11854,2396610934708387097,CFCePKEHD0Z,1599918308,2020-09-12 13:45:08,NaN,NaN,NaN,False,False,85,NaN,NaN,19332530737,False,False,False,51,369
12135,2407346391717164090,CFonMnhnrQ6,1601198074,2020-09-27 09:14:34,NaN,NaN,NaN,False,False,23,Chinatown,chinatown,6654500502,False,False,False,80,74

Since this is an NLP project, posts without words cannot offer NLP training for the model. As there are only 5 instagram posts without post captions and topic tags out of over 14,000 posts scraped and therefore no associated word features, this is a rare occurence. We shall just drop these 5 instagram posts.

In [43]:
df_insta.shape # current shape of df

(14536, 18)

In [44]:
df_insta = df_insta.drop(df_insta[mask].index).reset_index(drop=True)
df_insta.shape # verify that 5 rows were dropped

(14531, 18)

In [45]:
# after removing data points with no captions and topic tags
# we are left with only rows with captions and/or topic tags
# remaining data points therefore all have NLP word features that our model can train on
# we should merge all word features into a single column for easy modelling later

In [46]:
# but first, let's clean up the post captions
df_insta.loc[:, "post_caption"] = df_insta["post_caption"].str.replace("\n", " ").str.lower().str.extractall("(\w+|\#\w+)").groupby(level=0)[0].apply(lambda x: " ".join(x))
df_insta.head(3)

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,geo_tag,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers
0,1006641971264095607,34T4oZMgV3,1434221095,2015-06-13 18:44:55,oh look natural heart shaped form of ivan heng...,"['#PinkDotSg', '#WhereLovesLiveSg', '#Rediscov...",['2 people.'],False,False,40,Pinkdot @ Hong Lim Park,pinkdot-hong-lim-park,196778200,False,False,False,5205,1232
1,1202880298563729182,BCxfUInNPce,1457614527,2016-03-10 12:55:27,#exploresingapore #instasg #gf_singapore #game...,"['#exploresingapore', '#instasg', '#gf_singapo...",['indoor.'],False,False,33,Yangtze Cinema,yangtze-cinema,33123388,False,False,False,742,995
2,677102977071319026,lljZH4sgfy,1394936986,2014-03-16 02:29:46,on the road to hell reliving haw par villa 15 ...,"['#rediscoversg', '#Singapore']",['Photo by Belinda Tan in 虎豹别墅.'],False,False,3,虎豹别墅,NaN,196778200,False,False,False,5205,1232

In [47]:
# take a closer look at topic tags
df_insta["topic_tags"][:35].values

array(["['2 people.']", "['indoor.']",
       "['Photo by Belinda Tan in 虎豹别墅.']",
       "['Photo by pixbykm on May 03', '2011.']",
       "['Photo by Belinda Tan in Esplanade – Theatres on the Bay.']",
       "['1 person.']", nan, "['Photo by Jaclynn Seah in 虎豹别墅.']",
       "['1 person.']",
       "['Photo by Belinda Tan in Marina Bay Waterfront Promenade.']",
       nan, "['1 person.']", "['Photo by Phy 🌈 on April 23', '2011.']",
       "['Photo by vanzephyr on May 11', '2011.']",
       "['Photo by Belinda Tan in The Substation.']",
       "['Photo by Keith Teoh on June 02', '2011.']",
       "['Photo by Belinda Tan in 养记鱼头 Smith Street Hawker Center Chinatown.']",
       "['kitchen', 'indoor', 'food.']",
       "['Photo by Belinda Tan in The Coliseum@Hard Rock Hotel', 'Resorts World', 'Sentosa.']",
       "['sky', 'cloud', 'outdoor', 'water', 'nature.']",
       "['Photo by Singapore Street Art in Jalan Klapa.']", nan,
       "['cloud', 'sky', 'bicycle', 'outdoor', 'water.']", nan,
       "['Photo by Belinda Tan in Clarke Quay.']",
       "['Photo by 无名 on July 23', '2015.']",
       "['Photo by GO on June 05', '2011.']", "['2 people.']",
       "['Photo shared by SUNDALRELLAXV on April 02', '2015 tagging @todayweexplore', '@global_bangers', '@illgrammers', '@meistershots', '@singaporeinsiders', '@visualmenace', '', '@singapore2020.']",
       "['Photo by Belinda Tan in Bedok Interchange Hawker Center.']",
       "['plant', 'tree', 'sky', 'outdoor', 'water.']",
       "['Photo by Belinda Tan in 虎豹别墅.']",
       "['Photo by Jaclynn Seah on July 13', '2014.']", nan,
       "['Photo shared by @saslwp on October 09', '2020 tagging @iluvsg', '@orientfoto', '@natgeoyourshot', '@singaporelifes', '@natgeoasia', '@whatissingapore', '@singapore.explores', '', '@tedssingapore.']"],
      dtype=object)

Studying the topic tags in comparison to other features revealed a few patterns.
- Topic tags may describe the number of people present in the instagram post. For example, `1 person` or `2 people` etc. These are generally not useful to understanding the content of the post.
- Topic tags also aggregated information about the post, such as the medium, author, location, and date. These are captured and aggregated as a string in the format: `{Medium} by {Author} on {Date} in {Location}.`, or i.e. `Photo by Ah Huat on Oct 10, 2020 in Clarke Quay.`. They are repeat information already recorded elsewhere in their respective columns in the DataFrame and are not useful.
- Topic tags may also describe the themes present in the post, such as `'sky', 'cloud', 'outdoor', 'water', 'nature.'`. These tags are useful as they categorises the posts for us.
- Topic tags may also include instagram tags to other instagram accounts, such as `@best.friend` and are prefixed by the "@" character. These tags are useful as they indicate the association desired/expressed by the author.

In [48]:
# extract @tags
# convert returned multi-index into space-separated words
# assign to new col
df_insta["at_tags"] = df_insta["topic_tags"].str.lower().str.extractall("(\@\w+.?\w+)").groupby(level=0)[0].apply(lambda x: " ".join(x))
df_insta.shape # verify new col added

(14531, 19)

In [49]:
# find all topic tags that include the 4 words that indicate posts we do not want
# returned boolean masks include missing values because of missing topic tag values
not_useful = df_insta["topic_tags"].str.contains("(Photo)|(Video)|(person)|(people)")

# missing topic tags are also not useful, impute missing boolean mask values as such
not_useful.fillna(True, inplace=True)
df_insta[~not_useful]["topic_tags"] # view topic tags that are useful

C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

1                                              ['indoor.']
17                          ['kitchen', 'indoor', 'food.']
19         ['sky', 'cloud', 'outdoor', 'water', 'nature.']
22        ['cloud', 'sky', 'bicycle', 'outdoor', 'water.']
30           ['plant', 'tree', 'sky', 'outdoor', 'water.']
                               ...
14520                                            ['food.']
14521                                ['night', 'outdoor.']
14526          ["text that says 'BIRTHDAY GIVEAWAY ctm'."]
14527                                          ['indoor.']
14530    ['sky', 'cloud', 'tree', 'plant', 'bridge', 'o...
Name: topic_tags, Length: 5349, dtype: object

In [50]:
# save out space-separated useful tags
df_insta["useful_tags"] = df_insta.loc[~not_useful, "topic_tags"].str.lower().str.extractall(r"(?<!@)(\b\w+)").groupby(level=0)[0].apply(lambda x: " ".join(x))
df_insta.shape # verify new col added

(14531, 20)

In [51]:
# fill missing values with 0 to reference missing values more easily
df_insta.loc[:, ["at_tags", "useful_tags"]] = df_insta[["at_tags", "useful_tags"]].fillna(0)

In [52]:
tags = [] # create empty list

for _, row in df_insta.iterrows():
    if row["at_tags"] != 0 and row["useful_tags"] != 0:
        tags.append(row["useful_tags"] + " " + row["at_tags"]) # join string if there are both @tags and useful tags
    elif row["at_tags"] == 0 and row["useful_tags"] != 0:
        tags.append(row["useful_tags"])
    elif row["at_tags"] != 0 and row["useful_tags"] == 0:
        tags.append(row["at_tags"])
    else:
        tags.append(None)

df_insta["tags"] = tags # create new col and imput with str values from list
df_insta.shape # verify new col added

(14531, 21)

In [53]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14531 entries, 0 to 14530
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   post_id                14531 non-null  int64
 1   post_slug              14531 non-null  object
 2   unix_time              14531 non-null  int64
 3   date_time              14531 non-null  datetime64[ns]
 4   post_caption           14467 non-null  object
 5   hashtags               14485 non-null  object
 6   topic_tags             10819 non-null  object
 7   is_video               14531 non-null  bool
 8   is_ad                  14531 non-null  bool
 9   post_likes             14531 non-null  int64
 10  geo_tag                10032 non-null  object
 11  geo_slug               9963 non-null   object
 12  owner_id               14531 non-null  int64
 13  owner_verified         14531 non-null  bool
 14  owner_privacy          14531 non-null  bool
 15  owner_unpublished      14531 non-null  bool
 16  owner_total_posts      14531 non-null  int64
 17  owner_total_followers  14531 non-null  int64
 18  at_tags                14531 non-null  object
 19  useful_tags            14531 non-null  object
 20  tags                   5860 non-null   object
dtypes: bool(5), datetime64[ns](1), int64(6), object(9)
memory usage: 1.8+ MB

In [54]:
# after cleaning up topic tags, we now have less tags than before
# are there now more posts without text?
missing_intersect = set(df_insta[df_insta["tags"].isnull()]["post_id"]).intersection(set(df_insta[df_insta["post_caption"].isnull()]["post_id"]))
mask = df_insta["post_id"].isin(missing_intersect)
print("No. of posts without text:", len(df_insta[mask]))
df_insta[mask]

No. of posts without text: 43

,post_id,post_slug,unix_time,date_time,post_caption,hashtags,topic_tags,is_video,is_ad,post_likes,...,geo_slug,owner_id,owner_verified,owner_privacy,owner_unpublished,owner_total_posts,owner_total_followers,at_tags,useful_tags,tags
254,81927368,E4hzI,1306671117,2011-05-29 12:11:57,NaN,NaN,"['Photo by 🥂🍾🤳🏻🍽🍻☕️🍱📷 •Serena• on May 29', '20...",False,False,6,...,NaN,1438456,False,False,False,1153,800,0,0,None
262,91740491,Fd9lL,1307686593,2011-06-10 06:16:33,NaN,NaN,"['Photo by Phy 🌈 on June 09', '2011.']",False,False,436,...,NaN,122507,False,False,False,808,4313,0,0,None
930,84998561,FEPmh,1307013387,2011-06-02 11:16:27,NaN,NaN,"['Photo by Us Ennovy on June 02', '2011.']",False,False,46,...,NaN,37097,False,False,False,1368,946,0,0,None
1268,517123101217322081,ctMLiBNPRh,1375865899,2013-08-07 08:58:19,NaN,NaN,['Photo by 无名 in Dragon Traditional Playground...,False,False,33,...,dragon-traditional-playground-blk-28-lorong-6-...,33123388,False,False,False,742,994,0,0,None
1286,60837082,DoEza,1303972753,2011-04-28 06:39:13,NaN,[],"['Photo by pixbykm on April 27', '2011.']",False,False,24,...,NaN,1091975,False,False,False,1586,652,0,0,None
1548,47234456,C0L2Y,1301877241,2011-04-04 00:34:01,NaN,NaN,"['Photo by - - - on April 03', '2011.']",False,False,2,...,NaN,2062124,False,False,False,1570,121,0,0,None
1611,81324721,E2Oqx,1306613187,2011-05-28 20:06:27,NaN,NaN,"['Photo by 🥂🍾🤳🏻🍽🍻☕️🍱📷 •Serena• on May 28', '20...",False,False,2,...,NaN,1438456,False,False,False,1153,800,0,0,None
1802,89135505,FUBmR,1307404768,2011-06-06 23:59:28,NaN,NaN,"['Photo by Alex', 'er Liao 峻毅 on June 06', '20...",False,False,2,...,NaN,1805861,False,False,False,3306,415,0,0,None
1973,80646480,EzpFQ,1306546830,2011-05-28 01:40:30,NaN,NaN,"['Photo by Vu Lam on May 27', '2011.']",False,False,17,...,NaN,876050,False,False,False,3359,1428,0,0,None
2029,139066768,ISf2Q,1311396980,2011-07-23 04:56:20,NaN,NaN,['Photo by Edric Hsu in Changi Sailing Club.'],False,False,21,...,changi-sailing-club,3398876,False,False,False,10374,2633,0,0,None
2831,2375899847817174867,CD45FLTDB9T,1597449354,2020-08-14 23:55:54,NaN,NaN,"['one or more people', 'indoor.']",False,False,15,...,NaN,220840184,False,False,False,138,209,0,0,None
3749,2367658459871405818,CDbnNMqFWb6,1596466904,2020-08-03 15:01:44,NaN,NaN,"['one or more people', 'sky', 'tree', 'outdoor.']",False,False,17,...,singapore,1500765163,False,False,False,1691,393,0,0,None
3971,2367661200219850401,CDbn1EzlEah,1596467231,2020-08-03 15:07:11,NaN,NaN,"['one or more people', 'plant', 'outdoor.']",False,False,18,...,singapore,1500765163,False,False,False,1691,393,0,0,None
4387,2368393622200800626,CDeOXN7lFVy,1596554542,2020-08-04 15:22:22,NaN,NaN,"['1 person', 'sky', 'ocean', 'outdoor', 'natur...",False,False,29,...,singapore,1500765163,False,False,False,1691,393,0,0,None
5999,2336483072255469678,CBs2vmZgChu,1592750508,2020-06-21 14:41:48,NaN,[],NaN,False,False,59,...,NaN,36796651,False,False,False,5798,2037,0,0,None
6646,2123393718485374707,B13z1Y0ndbz,1567348278,2019-09-01 14:31:18,NaN,[],"['one or more people', 'people st', 'ing.']",False,False,42,...,sri-senpaga-vinayagar-temple,28797269,False,False,False,1533,1357,0,0,None
7352,2215335136860721800,B6-c5HTBlKI,1578308549,2020-01-06 11:02:29,NaN,NaN,"['one or more people', 'indoor.']",False,False,19,...,NaN,37968596,False,False,False,1225,163,0,0,None
7405,2239850395236353347,B8VjBE2FMVD,1581231027,2020-02-09 06:50:27,NaN,[],NaN,True,False,29,...,NaN,36796651,False,False,False,5799,2037,0,0,None
7980,2133528312127751491,B2b0LIqnQVD,1568556416,2019-09-15 14:06:56,NaN,[],"['one or more people', 'sky', 'outdoor.']",False,False,66,...,asiasingapore,3932789582,False,False,False,190,354,0,0,None
9363,2413018019073866200,CF8wxqHg7nY,1601874432,2020-10-05 05:07:12,NaN,[],NaN,True,False,37,...,NaN,36796651,False,False,False,5799,2037,0,0,None
9574,2390564518897019818,CEs_cOhgmuq,1599197527,2020-09-04 05:32:07,NaN,[],NaN,True,False,36,...,NaN,36796651,False,False,False,5799,2037,0,0,None
10822,2399471350387619186,CFMonrwlLVy,1600259296,2020-09-16 12:28:16,NaN,[],['one or more people.'],False,False,17,...,NaN,5406681883,False,False,False,126,110,0,0,None
10896,2398043556215123499,CFHj-i0He4r,1600089090,2020-09-14 13:11:30,NaN,NaN,"['one or more people', 'outdoor.']",False,False,135,...,singapore,226697734,False,False,False,571,1567,0,0,None
11027,2405980956182610806,CFjwu6lnoN2,1601035302,2020-09-25 12:01:42,NaN,NaN,"['one or more people', 'people sitting', 'outd...",False,False,95,...,singapore,226697734,False,False,False,571,1567,0,0,None
11121,2413242118171389841,CF9juuqne-R,1601900900,2020-10-05 12:28:20,NaN,NaN,"['1 person', 'st', 'ing.']",False,False,90,...,singapore,226697734,False,False,False,571,1567,0,0,None
11290,2409676984601055581,CFw5HNSlJFd,1601475903,2020-09-30 14:25:03,NaN,NaN,"['1 person', 'st', 'ing.']",False,False,111,...,singapore,226697734,False,False,False,571,1567,0,0,None
11492,2400969959629745382,CFR9XUYHWzm,1600437944,2020-09-18 14:05:44,NaN,NaN,"['2 people', 'shoes', 'outdoor.']",False,False,89,...,NaN,19332530737,False,False,False,51,369,0,0,None
11505,2399461746774363703,CFMmb7sn843,1600258151,2020-09-16 12:09:11,NaN,NaN,"['one or more people', 'outdoor.']",False,False,115,...,singapore,226697734,False,False,False,571,1567,0,0,None
11862,2401683834641683431,CFUfrkSnZPn,1600523045,2020-09-19 13:44:05,NaN,NaN,"['1 person', 'sitting', 'shoes', 'child', 'out...",False,False,92,...,NaN,19332530737,False,False,False,51,369,0,0,None
12058,2414678410172129473,CGCqTh1HWDB,1602072119,2020-10-07 12:01:59,NaN,NaN,"['one or more people', 'people st', 'ing', 'ou...",False,False,73,...,singapore,226697734,False,False,False,571,1567,0,0,None
13095,2416121763367498308,CGHyfFPnDJE,1602244180,2020-10-09 11:49:40,NaN,NaN,"['one or more people', 'people st', 'ing', 'ou...",False,False,71,...,singapore,226697734,False,False,False,571,1567,0,0,None
13111,2395899078087970033,CE_8YR7Hozx,1599833448,2020-09-11 14:10:48,NaN,NaN,['one or more people.'],False,False,131,...,singapore,226697734,False,False,False,571,1568,0,0,None
13243,2411077442390062477,CF13ijPnfWN,1601642850,2020-10-02 12:47:30,NaN,NaN,"['1 person', 'st', 'ing', 'indoor.']",False,False,93,...,singapore,226697734,False,False,False,571,1568,0,0,None
13300,2408172714341565676,CFrjFMcHgTs,1601296580,2020-09-28 12:36:20,NaN,NaN,"['1 person', 'outdoor.']",False,False,98,...,singapore,226697734,False,False,False,571,1568,0,0,None
13316,2400159471650537026,CFPFFKoBP5C,1600341327,2020-09-17 11:15:27,NaN,[],['Photo by Anna in Orchard Gateway.'],False,False,36,...,orchard-gateway,13658055,False,False,False,557,533,0,0,None
13381,2394428463938239036,CE6uABxH3o8,1599658137,2020-09-09 13:28:57,NaN,NaN,"['1 person', 'sitting', 'plant', 'tree', 'outd...",False,False,83,...,NaN,19332530737,False,False,False,51,370,0,0,None
13429,2404526314429087632,CFel_F4n_-Q,1600861895,2020-09-23 11:51:35,NaN,NaN,"['2 people', 'people st', 'ing', 'outdoor.']",False,False,93,...,singapore,226697734,False,False,False,571,1567,0,0,None
13686,2418298723284016157,CGPheBKH9wd,1602503694,2020-10-12 11:54:54,NaN,NaN,"['one or more people', 'beard', 'outdoor.']",False,False,118,...,singapore,226697734,False,False,False,575,1590,0,0,None
13877,2423265139653241312,CGhKs41nmng,1603095737,2020-10-19 08:22:17,NaN,[],NaN,False,False,22,...,jurong-point-mongkok-street,6654500502,False,False,False,83,72,0,0,None
13907,2423379166782026582,CGhkoM4H_NW,1603109330,2020-10-19 12:08:50,NaN,NaN,"['1 person', 'car.']",False,False,58,...,singapore,226697734,False,False,False,575,1590,0,0,None
13945,2421196468084776048,CGZ0VwTn5xw,1602849132,2020-10-16 11:52:12,NaN,NaN,"['1 person', 'st', 'ing', 'outdoor.']",False,False,83,...,singapore,226697734,False,False,False,575,1590,0,0,None
14104,2419751213208632267,CGUruh0HvvL,1602676844,2020-10-14 12:00:44,NaN,NaN,"['one or more people', 'outdoor.']",False,False,98,...,singapore,226697734,False,False,False,575,1590,0,0,None
14367,2424822906583007889,CGms5YWHEKR,1603281437,2020-10-21 11:57:17,NaN,NaN,"['1 person', 'st', 'ing', 'outdoor.']",False,False,44,...,singapore,226697734,False,False,False,576,1584,0,0,None

In [55]:
# there are only 43 posts without text, which is a small subset of our data
# let's drop these posts
df_insta.drop(df_insta[mask].index, inplace=True)
df_insta.shape

(14488, 21)

#### Merging Text

In [56]:
# fill missing values with 0 to reference missing values more easily
df_insta.loc[:, ["post_caption", "tags"]] = df_insta[["post_caption", "tags"]].fillna(0)

In [57]:
# finally, let's merge all text content

content = [] # create empty list

for _, row in df_insta.iterrows():
    if row["post_caption"] != 0 and row["tags"] != 0:
        content.append(row["post_caption"] + " " + row["tags"]) # join string if both captions and tags are available
    elif row["post_caption"] == 0 and row["tags"] != 0:
        content.append(row["tags"])
    elif row["post_caption"] != 0 and row["tags"] == 0:
        content.append(row["post_caption"])
    else:
        content.append(None)

df_insta["content"] = content # create new col and imput with str values from list
df_insta.shape # verify new col added

(14488, 22)

In [58]:
df_insta["content"].isnull().sum() # verify that there are all remaining posts come with text content

0

#### Missing Locations

In [59]:
df_insta["geo_tag"].isnull().sum()

4481

In [60]:
df_insta["geo_slug"].isnull().sum()

4550

In [61]:
# geo tags provide explicit information about the location and are therefore more important
# are there any missing geo tag data with a present geo slug for us to infer and impute from?
set(df_insta[df_insta["geo_tag"].isnull()]["post_id"]).difference(set(df_insta[df_insta["geo_slug"].isnull()]["post_id"]))

set()

In [62]:
# empty set returned, therefore all posts with missing geo tags also have missing geo slugs
# imputation is not possible by inferring from geo slugs

In [63]:
df_insta[df_insta["geo_tag"].isnull()][["post_caption", "topic_tags", "geo_tag"]]

,post_caption,topic_tags,geo_tag
3,coffeeshop talk,"['Photo by pixbykm on May 03', '2011.']",NaN
10,we see the city in a different light we see th...,NaN,NaN
12,#singapore cityscape i was lucky to capture th...,"['Photo by Phy 🌈 on April 23', '2011.']",NaN
13,人去楼空 everybody is gone,"['Photo by vanzephyr on May 11', '2011.']",NaN
15,#window #nightlights #bokeh,"['Photo by Keith Teoh on June 02', '2011.']",NaN
...,...,...,...
14517,who knew a mere thrift shop could be a cool pl...,"['one or more people', 'people st', 'ing', 'we...",NaN
14520,bursting ondeh ondeh making the coconut was ho...,['food.'],NaN
14524,on the little india heritage trail with our wo...,"['2 people', 'outdoor', ""text that says 'LITTL...",NaN
14526,giveaway it s our 47th birthday next tuesday t...,"[""text that says 'BIRTHDAY GIVEAWAY ctm'.""]",NaN
14529,lake #sonysingapore #sonyalphasg #a7riii #sony...,"['one or more people', 'outdoor', 'water', 'na...",NaN

#### Save DataFrame

In [174]:
df_insta.reset_index(drop=True, inplace=True) # ensure index is reset

In [175]:
# save out merged df
df_insta.to_csv("../datasets/df_insta.csv", index=False)

#### checking extraneuous features

In [64]:
# df_insta["is_ad"].value_counts()

In [65]:
# df_insta["owner_verified"].value_counts()

In [66]:
# df_insta["owner_privacy"].value_counts()

In [67]:
# df_insta["owner_unpublished"].value_counts()

In [68]:
# df_insta[df_insta["owner_verified"]]["post_caption"].values

### Import YouTube Scrapes - Georgia Caney

In [69]:
df_yt_georgia = pd.read_csv("../datasets/df_yt_georgia_2020-10-17.csv")
df_yt_georgia.shape

(310, 8)

In [70]:
df_yt_georgia.head(3)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,['UNIVERSAL HALLOWEEN HORROR NIGHTS 8! 👻\n\nHa...,31 Oct 2018,7xkdm3c4Ks8,"8,766 views",271,3,18 Comments
1,HUGE FEBRUARY HAUL | MONKI & ROMWE,"['FOLLOW ME!!\nBLOG LOVIN: ', 'http://www.blog...",28 Feb 2016,uBRHR9zK3mk,"16,049 views",312,5,NaN
2,Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *...,['Eating the BEST rated PRATA in SINGAPORE! 🇸🇬...,17 Nov 2019,b-ppBtSiG38,"33,483 views",649,19,159 Comments

In [71]:
# there are some duplicate scrapes
df_yt_georgia.duplicated(keep="first").value_counts()

False    302
True       8
dtype: int64

In [72]:
# drop duplicate scrapes
df_yt_georgia = df_yt_georgia.drop(df_yt_georgia[df_yt_georgia.duplicated(keep="first")].index)
df_yt_georgia.shape

(302, 8)

In [73]:
df_yt_georgia.info() # some missing values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 309
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     301 non-null    object
 1   video_caption   301 non-null    object
 2   date_time       301 non-null    object
 3   video_slug      301 non-null    object
 4   video_views     301 non-null    object
 5   video_likes     299 non-null    object
 6   video_dislikes  299 non-null    object
 7   video_comments  294 non-null    object
dtypes: object(8)
memory usage: 21.2+ KB

In [74]:
df_yt_georgia[df_yt_georgia["date_time"].isnull()] # found row(s) of missing values

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# remove rows with all missing values
df_yt_georgia = df_yt_georgia.dropna(how="all").reset_index(drop=True)
df_yt_georgia.shape # verify 2 rows dropped

(301, 8)

#### Parse Dates

In [76]:
# unable to convert col of dates to datetime objs
# let's find the culprit
for date in df_yt_georgia["date_time"]:
    try:
        pd.to_datetime(date)
    except:
        print(date)

Premiered on 28 Aug 2019

In [77]:
mask = df_yt_georgia["date_time"] == "Premiered on 28 Aug 2019" # find culprit
df_yt_georgia[mask]

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
194,Singaporean Eats My Western Diet For The Day! ...,['Singaporean Eats My British Diet For The Day...,Premiered on 28 Aug 2019,pVwhDPWmJS0,"49,684 views",822,18,106 Comments

In [78]:
# video is relevant to our project
# unsure why date_time is of a different format from the usual but let's remedy it
df_yt_georgia.loc[mask, "date_time"] = re.findall("\d+\s\w+\s\d+", df_yt_georgia.loc[mask, "date_time"].values[0])[0]

In [79]:
df_yt_georgia["date_time"] = pd.to_datetime(df_yt_georgia["date_time"])
df_yt_georgia.info() # successfully converted date_time to datetime objs

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     301 non-null    object
 1   video_caption   301 non-null    object
 2   date_time       301 non-null    datetime64[ns]
 3   video_slug      301 non-null    object
 4   video_views     301 non-null    object
 5   video_likes     299 non-null    object
 6   video_dislikes  299 non-null    object
 7   video_comments  294 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 18.9+ KB

In [80]:
# there are still missing values in video_likes, video_dislikes, and video_comments
# video_views, video_likes, video_dislikes, and video_comments are all str objs when they should be numeric

#### Views and Likes

In [81]:
# extract no. of views, remove "," separator, and convert to int dtype
df_yt_georgia["video_views"] = df_yt_georgia["video_views"].str.extract(r"(\d+.\d+)", expand=False).str.replace(",", "").astype(int)
df_yt_georgia.info() # verify conversion is successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     301 non-null    object
 1   video_caption   301 non-null    object
 2   date_time       301 non-null    datetime64[ns]
 3   video_slug      301 non-null    object
 4   video_views     301 non-null    int32
 5   video_likes     299 non-null    object
 6   video_dislikes  299 non-null    object
 7   video_comments  294 non-null    object
dtypes: datetime64[ns](1), int32(1), object(6)
memory usage: 17.8+ KB

In [82]:
mask = df_yt_georgia["video_likes"].isnull() # find missing values
df_yt_georgia[mask]

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
80,TASTE TESTING SINGAPORE 7/11 DRINKS! 🇸🇬,"[""What drinks do they sell in a Singapore 7/11...",2017-11-12,3Q5Rh7gWc34,89417,NaN,NaN,0
239,THINGS TOOK A TURN FOR THE WORSE | WEEKLY VLOG,['THINGS TOOK A TURN FOR THE WORSE IN SINGAPOR...,2018-08-16,72oE5ABnd4k,19886,NaN,NaN,0

In [83]:
# checking via slugs of the video revealed that these videos have zero likes or dislikes
# while this seems especially unlikely because of the video's recency
# comments for both these videos were also disabled
# it is likely that likes/dislikes were disabled too

# let's impute missing values in video_likes and video_dislikes with 0
df_yt_georgia.loc[:, ["video_likes", "video_dislikes"]] = df_yt_georgia.loc[:, ["video_likes", "video_dislikes"]].fillna("0")
df_yt_georgia.info() # verify that missing values have been imputed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     301 non-null    object
 1   video_caption   301 non-null    object
 2   date_time       301 non-null    datetime64[ns]
 3   video_slug      301 non-null    object
 4   video_views     301 non-null    int32
 5   video_likes     301 non-null    object
 6   video_dislikes  301 non-null    object
 7   video_comments  294 non-null    object
dtypes: datetime64[ns](1), int32(1), object(6)
memory usage: 17.8+ KB

In [84]:
# extract no. of likes/dislikes, remove "," separator, and convert to int dtype
df_yt_georgia["video_likes"] = df_yt_georgia["video_likes"].str.replace(",", "").astype(int)
df_yt_georgia["video_dislikes"] = df_yt_georgia["video_dislikes"].str.replace(",", "").astype(int)
df_yt_georgia.info() # verify conversion is successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     301 non-null    object
 1   video_caption   301 non-null    object
 2   date_time       301 non-null    datetime64[ns]
 3   video_slug      301 non-null    object
 4   video_views     301 non-null    int32
 5   video_likes     301 non-null    int32
 6   video_dislikes  301 non-null    int32
 7   video_comments  294 non-null    object
dtypes: datetime64[ns](1), int32(3), object(4)
memory usage: 15.4+ KB

#### No. of Comments

In [85]:
mask = df_yt_georgia["video_comments"].isnull() # find missing values
print("No. of posts with missing total no. of video comments:", len(df_yt_georgia[mask]))
df_yt_georgia[mask]

No. of posts with missing total no. of video comments: 7

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
1,HUGE FEBRUARY HAUL | MONKI & ROMWE,"['FOLLOW ME!!\nBLOG LOVIN: ', 'http://www.blog...",2016-02-28,uBRHR9zK3mk,16049,312,5,NaN
12,"VIRTUAL WISHLIST | EBAY, URBAN OUTFITTERS, AN...","['FOLLOW ME!!\nBLOG LOVIN: ', 'http://www.blog...",2015-02-27,GFZO5_uXnzo,6864,413,6,NaN
138,TRYING TO PRONOUNCE SINGAPORE MRT STATIONS!,"[""We finally got around to ATTEMPTING to prono...",2017-05-28,bIgaCSZn_7U,32296,715,1066,NaN
162,HUGE ASOS TRY-ON HAUL! | NOVEMBER 2016,"['➫ Instagram: ', 'https://goo.gl/EG0bLO', '\n...",2016-11-27,lNtAfcNmrD4,7851,211,6,NaN
172,COME TO MY FIRST PERSONAL TRAINING SESSION! *...,['Hey guys! Today I wanted to take you all alo...,2019-03-07,FGSISjGXUUk,11671,227,6,NaN
197,HOMEWARE HAUL! IKEA & TYPO THE VINTAGE VISION,['Help me share this post & I will love you fo...,2015-05-18,Oi65C3XnCz0,10094,320,4,NaN
300,MY FOUNDATION & CONTOUR ROUTINE | THE VINTAGE ...,"['FOLLOW ME!!\nBLOG LOVIN: ', 'http://www.blog...",2015-02-19,7t89IwQ90Lg,6004,236,4,NaN

In [86]:
# drop them?

#### Merging Text

In [87]:
content = [] # create empty list

for _, row in df_yt_georgia.iterrows():
    content.append(row["video_title"] + " " + row["video_caption"]) # join title and caption strings
    
df_yt_georgia["content"] = content # create new col for merged strings
df_yt_georgia.shape # verify new col added

(301, 9)

In [88]:
df_yt_georgia.head(3)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,['UNIVERSAL HALLOWEEN HORROR NIGHTS 8! 👻\n\nHa...,2018-10-31,7xkdm3c4Ks8,8766,271,3,18 Comments,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS...
1,HUGE FEBRUARY HAUL | MONKI & ROMWE,"['FOLLOW ME!!\nBLOG LOVIN: ', 'http://www.blog...",2016-02-28,uBRHR9zK3mk,16049,312,5,NaN,HUGE FEBRUARY HAUL | MONKI & ROMWE ['FOLLOW M...
2,Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *...,['Eating the BEST rated PRATA in SINGAPORE! 🇸🇬...,2019-11-17,b-ppBtSiG38,33483,649,19,159 Comments,Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *...

#### Selecting Relevant Videos

In [89]:
# what are the relevant videos?

In [90]:
df_yt_georgia["video_title"].values[:35]

array(['HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻',
       'HUGE FEBRUARY HAUL | MONKI &  ROMWE',
       'Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *longest queue ever*',
       'McDoanlds Hokkaido Salmon Burger In Singapore!',
       'SINGAPORE APARTMENT TOUR! | THE VINTAGE VISION',
       'Foreigners Reacting To Singapore Social: The Most NON-SINGAPOREAN Reality Show',
       'THAILAND ADVENTURE & MOPED ACCIDENT!!',
       'CULTURE SHOCKS LIVING IN SINGAPORE! 🇸🇬',
       'Taking it slow + saying goodbye to the vlogs | Life in Singapore',
       'HUGE SUMMER TRY-ON HAUL! TOPSHOP, ZARA, ASOS',
       'More Bad News, But Trying To Keep Positive! Life In Singapore',
       'MISCONCEPTIONS FOREIGNERS HAVE ABOUT SINGAPORE! 🇸🇬',
       'VIRTUAL WISHLIST |  EBAY, URBAN OUTFITTERS, ANTHROPOLOGIE',
       'COME TO WORK WITH ME IN SINGAPORE!',
       'BRITISH GIRL REACTS TO SINGAPOREAN YOUTUBERS!',
       'One Bedroom Singapore Apartment Tour! Georgia Caney',
       'Reading Your Assumptions About Brits + Life In The UK! 🇬🇧',
       'What I Eat In A Day! (quarantine edition)',
       'My Fitness Journey (so far!) How to LOSE FAT and BUILD MUSCLE',
       'This is what CHINESE FOOD looks like in the UK! 🇬🇧',
       'FEELS SO GOOD TO BE HOME!! LIFE BACK IN THE UK 🇬🇧',
       'ASOS & TOPSHOP TRY-ON HAUL | the vintage vision',
       'A Day In The Life At Home In Isolation | Singapore Vlog',
       'TAOBAO TRY-ON HAUL FT. EZBUY 2018',
       'IS THIS THE BEST ENGLISH BREAKFAST IN SINGAPORE?! (I think not!)',
       'HOW TO SURVIVE YOUR FIRST MONTH IN SINGAPORE! 🇸🇬',
       'Everything To See & Do In Broome Australia! | Exploring Western Australia',
       'SINGAPORE BOTANIC GARDENS VLOG',
       'FINALLY ON THE ROAD TO RECOVERY! Weekly Vlog',
       '9 Bizarre Things Singaporeans Do That Foreigners Don’t Understand!',
       'IS THIS THE BEST BRITISH FISH & CHIPS IN SINGAPORE?!',
       'ZAFUL TRY-ON HAUL + REVIEW! WORTH IT OR NOT!?',
       '10 ‘Unusual’ Old English Words Commonly Used In Singapore!',
       'SINGAPORE WEEKLY VLOG | CATCH UP + RECENT TRAVEL',
       'A WEEK IN MY LIFE WORKING IN SINGAPORE!'], dtype=object)

In [91]:
# after studying the video titles and researching the YouTube channel
# it's clear that there's a good part of her videos dedicated to fashion and e-commerce
# then there are also videos about life updates that do not concern exploring SG
### and mostly elicit empathetic/agreeable comments over recommendations
# there are also travel vlogs to numerous locations

# we shall begin by filtering these out as they are not relevant to domestic tourism

In [92]:
# search terms to find videos dedicated to fashion/e-commerce
queries = ["haul", "the vintage vision", "wishlist", "outfits", "lookbook", "discount", "dupes", "shopping",
           "favourites", "makeup", "hair", "lip", "jeans", "contour", "thrift", "handbag", "swatches", "glasses"]
fashion = df_yt_georgia["video_title"].str.lower().str.contains("|".join(queries))
df_yt_georgia[fashion].shape # 77 fashion videos found

(91, 9)

In [93]:
# search terms to find videos dedicated to life updates
queries = ["life in singapore", "life currently in singapore", "catch up", "expat life", "workout",
           "questions", "answers", "q&a", "diet", "update", "weekly", "instagram"]
updates = df_yt_georgia["video_title"].str.lower().str.contains("|".join(queries))
df_yt_georgia[updates].shape # 11 update videos found

(51, 9)

In [94]:
# search terms to find videos dedicated to travel
queries = ["australia", "thailand", "uk", "🇬🇧", "penang", "kuala lumpur", "malaysia", "bali", "borneo", "cambodia", "taipei"]
travel = df_yt_georgia["video_title"].str.lower().str.contains("|".join(queries))
df_yt_georgia[travel].shape # 11 update videos found

(28, 9)

In [95]:
# what are we left with after filtering these out?
df_yt_georgia_sel = df_yt_georgia[~fashion & ~updates & ~travel]
df_yt_georgia_sel.shape # down to 134 posts

(134, 9)

In [96]:
# view current df
df_yt_georgia_sel.head(3)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,['UNIVERSAL HALLOWEEN HORROR NIGHTS 8! 👻\n\nHa...,2018-10-31,7xkdm3c4Ks8,8766,271,3,18 Comments,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS...
2,Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *...,['Eating the BEST rated PRATA in SINGAPORE! 🇸🇬...,2019-11-17,b-ppBtSiG38,33483,649,19,159 Comments,Eating the BEST rated PRATA in SINGAPORE! 🇸🇬 *...
3,McDoanlds Hokkaido Salmon Burger In Singapore!,['TRYING MCDONALDS HOKKAIDO SALMON BURGER IN S...,2018-05-13,IDXoNb548ec,13809,430,13,117 Comments,McDoanlds Hokkaido Salmon Burger In Singapore!...

### Import YouTube Scrapes - Ghib Ojisan

In [97]:
df_yt_ghib = pd.read_csv("../datasets/df_yt_ghib_2020-10-18.csv")
df_yt_ghib.shape

(389, 8)

In [98]:
df_yt_ghib.head(3)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
0,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】,"['▼基本一人旅さん\n', 'https://twitter.com/crazy_trav...",7 Jun 2019,AsF1hDfyF9g,"26,426 views",347,36,77 Comments
1,【発表】路上演奏のライセンスを取りにオーディションに参加した結果,"['😃チャンネル登録： ', 'http://urx3.nu/HTUJ', '\n🎥関連動画...",31 Jul 2019,R4rwlGx0Kog,"10,547 views",405,6,102 Comments
2,【裏側公開】ビートルズのノルウェーの森を弾いてみた【メイキング動画】,['以前、『ノルウェーの森でノルウェーの森を弾いてみた』という（詰まらないシャレみたいな）動...,12 Aug 2018,0oMslC1sGNU,"10,514 views",258,7,62 Comments

In [99]:
# there are some duplicate scrapes
df_yt_ghib.duplicated(keep="first").value_counts()

False    378
True      11
dtype: int64

In [100]:
# drop duplicate scrapes
df_yt_ghib = df_yt_ghib.drop(df_yt_ghib[df_yt_ghib.duplicated(keep="first")].index)
df_yt_ghib.shape

(378, 8)

In [101]:
df_yt_ghib.info() # some missing values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 388
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     377 non-null    object
 1   video_caption   377 non-null    object
 2   date_time       377 non-null    object
 3   video_slug      377 non-null    object
 4   video_views     377 non-null    object
 5   video_likes     377 non-null    object
 6   video_dislikes  377 non-null    object
 7   video_comments  374 non-null    object
dtypes: object(8)
memory usage: 26.6+ KB

In [102]:
df_yt_ghib[df_yt_ghib["date_time"].isnull()] # found row(s) of missing values

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# remove rows with all missing values
df_yt_ghib = df_yt_ghib.dropna(how="all").reset_index(drop=True)
df_yt_ghib.shape # verify 2 rows dropped

(377, 8)

#### Parse Dates

In [104]:
# unable to convert col of dates to datetime objs
# let's find the culprits
culprits = [] # create empty lists to append culprits

for date in df_yt_ghib["date_time"]:
    try:
        pd.to_datetime(date)
    except:
        culprits.append(date)
        
culprits

['Streamed live on 20 Nov 2019',
 'Streamed live on 7 Aug 2020',
 'Streamed live on 22 Jul 2020',
 'Streamed live on 10 Feb 2019',
 'Streamed live on 14 Oct 2018',
 'Streamed live on 9 Jul 2020',
 'Streamed live on 4 Nov 2018',
 'Streamed live on 21 Aug 2020',
 'Premiered on 26 Oct 2018',
 'Streamed live on 13 Jan 2019']

In [105]:
mask = df_yt_ghib["date_time"].isin(culprits) # find culprit
df_yt_ghib[mask]

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
97,登録者10万人突破記念！ギター演奏＆心境雑談＆質問コーナー【ありがとう】,['いつも見ていただいている皆さんのおかげで登録者10万人を突破しました！YouTubeを初...,Streamed live on 20 Nov 2019,tgmlrcmulEM,"10,912 views",499,8,25 Comments
98,LIVE | Which Singapore Bak Kut Teh is the BEST?,"[""Tonight, we will be trying Singapore's iconi...",Streamed live on 7 Aug 2020,d7z9g-0QH0g,"36,776 views",633,19,86 Comments
126,LIVE｜Trying 3 BEST Chili Crabs in Singapore - ...,"[""Today's a special collab stream with Singapo...",Streamed live on 22 Jul 2020,2Eiqtrbo3l4,"69,545 views","1,099",46,126 Comments
148,シンガポールから生配信！ご飯食べながら質問に答えます（アーカイブ）,['2019年2月11日に配信した動画のアーカイブ放送です。\nご覧いただいた方、スーパーチ...,Streamed live on 10 Feb 2019,NS-ng6ot9a8,"11,889 views",230,9,27 Comments
253,日曜日の夜にアコギ聴きませんか？【雑談・Q&Aも】,['初生配信です！\n\n・リクエスト受け付けます（出来るとは言ってない）\n・雑談\n・Q...,Streamed live on 14 Oct 2018,o9xj8E5_DsE,"11,276 views",488,8,52 Comments
322,Which Chicken Rice is the Best? Collab Stream ...,"[""Today's a special collab stream with Singapo...",Streamed live on 9 Jul 2020,EsayJ7_I4ec,"26,330 views",675,31,63 Comments
336,【シンガポールから配信】日曜の夜に雑談でもしませんか？,['今日は演奏少なめ・雑談多めというコンセプトでやります！\nでもリクエストも受け付けます。...,Streamed live on 4 Nov 2018,k9OMEfEbkDE,"9,049 views",230,10,20 Comments
345,LIVE | Which Singapore Hokkien Mee Is The Best...,"[""Tonight, me and a SECRET guest will be tryin...",Streamed live on 21 Aug 2020,DIHL0k6mI8s,"25,644 views",674,21,71 Comments
361,【笑う】ツッコミどころが多すぎるギター演奏をご覧ください,['前使ってたパソコンから秘蔵映像を見つけたので、自分でネタにしてみましたｗ\n\nギター、...,Premiered on 26 Oct 2018,4JaVNeALvlE,"28,882 views",456,32,112 Comments
368,いい質問してくれたら1曲プレゼント！ギター×世界一周、海外移住、ジブリなどの質問に答えるよ,['※1/13の配信です。\n\n海外の路上でジブリ弾きながら世界旅行したジブリおじさんです...,Streamed live on 13 Jan 2019,4UF_X0PaDDg,"7,898 views",190,10,52 Comments

In [106]:
# let's extract out the dates so we can parse col as such
df_yt_ghib.loc[mask, "date_time"] = re.findall("\d+\s\w+\s\d+", df_yt_ghib.loc[mask, "date_time"].values[0])[0]

In [107]:
df_yt_ghib["date_time"] = pd.to_datetime(df_yt_ghib["date_time"])
df_yt_ghib.info() # successfully converted date_time to datetime objs

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     377 non-null    object
 1   video_caption   377 non-null    object
 2   date_time       377 non-null    datetime64[ns]
 3   video_slug      377 non-null    object
 4   video_views     377 non-null    object
 5   video_likes     377 non-null    object
 6   video_dislikes  377 non-null    object
 7   video_comments  374 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 23.7+ KB

In [108]:
# there are still missing values in video_comments
# video_views, video_likes, video_dislikes, and video_comments are all str objs when they should be numeric

#### Views and Likes

In [109]:
df_yt_ghib["video_likes"]

0        347
1        405
2        258
3      3,155
4      1,931
       ...
372    2,153
373      424
374    1,556
375    1,002
376    1,460
Name: video_likes, Length: 377, dtype: object

In [110]:
# extract no. of views, remove "," separator, and convert to int dtype
df_yt_ghib["video_views"] = df_yt_ghib["video_views"].str.extract(r"(\d+.\d+)", expand=False).str.replace(",", "").astype(int)
df_yt_ghib.info() # verify conversion is successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     377 non-null    object
 1   video_caption   377 non-null    object
 2   date_time       377 non-null    datetime64[ns]
 3   video_slug      377 non-null    object
 4   video_views     377 non-null    int32
 5   video_likes     377 non-null    object
 6   video_dislikes  377 non-null    object
 7   video_comments  374 non-null    object
dtypes: datetime64[ns](1), int32(1), object(6)
memory usage: 22.2+ KB

In [111]:
# extract no. of likes/dislikes, remove "," separator, and convert to int dtype
df_yt_ghib["video_likes"] = df_yt_ghib["video_likes"].str.replace(",", "").astype(int)
df_yt_ghib["video_dislikes"] = df_yt_ghib["video_dislikes"].str.replace(",", "").astype(int)
df_yt_ghib.info() # verify conversion is successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_title     377 non-null    object
 1   video_caption   377 non-null    object
 2   date_time       377 non-null    datetime64[ns]
 3   video_slug      377 non-null    object
 4   video_views     377 non-null    int32
 5   video_likes     377 non-null    int32
 6   video_dislikes  377 non-null    int32
 7   video_comments  374 non-null    object
dtypes: datetime64[ns](1), int32(3), object(4)
memory usage: 19.3+ KB

#### No. of Comments

In [112]:
mask = df_yt_ghib["video_comments"].isnull() # find missing values
print("No. of posts with missing total no. of video comments:", len(df_yt_ghib[mask]))
df_yt_ghib[mask]

No. of posts with missing total no. of video comments: 3

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments
103,Singaporean Auntie vs Durian Seller👩🏻 Ultimat...,"[""Today you will witness the ultimate match - ...",2020-09-03,GN0mKg5EUts,71912,1335,50,NaN
149,A Day in a Life of a Japanese YouTuber in Sing...,"['TODAY, an online media company, contacted me...",2019-12-26,zF8vFCuilXQ,36986,1534,10,NaN
376,ロンドンで一日観光で遊び尽くしたらいくらかかる？,['▼海外専門のグルメチャンネル「タベルトラベル」開設しました！日本人YouTuberで唯一...,2018-09-01,lr6gSHXhgxw,98613,1460,82,NaN

In [113]:
# drop them?

#### Merging Text

In [114]:
content = [] # create empty list

for _, row in df_yt_ghib.iterrows():
    content.append(row["video_title"] + " " + row["video_caption"]) # join title and caption strings
    
df_yt_ghib["content"] = content # create new col for merged strings
df_yt_ghib.shape # verify new col added

(377, 9)

In [115]:
df_yt_ghib.head(1)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
0,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】,"['▼基本一人旅さん\n', 'https://twitter.com/crazy_trav...",2019-06-07,AsF1hDfyF9g,26426,347,36,77 Comments,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】 ['▼基本...

#### Selecting Relevant Videos

In [116]:
# what are the relevant videos?

In [117]:
df_yt_ghib["video_title"].values[:35]

array(['【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】',
       '【発表】路上演奏のライセンスを取りにオーディションに参加した結果',
       '【裏側公開】ビートルズのノルウェーの森を弾いてみた【メイキング動画】',
       'LAP TAPPING Guitar at Taipei!\u3000台北でひざ置きギター弾いてみた（Jack Dawson & Andy Mckee "Drifting" Cover）',
       'Singapore Semi-Lockdown Diary Day 0 | Japanese Living in SG',
       'How Much Will I Earn If I Played Hikoukigumo on the Street of Singapore? WIND RISES',
       '【天国】シンガポールの会社のリアルな福利厚生 事情',
       'Visiting The Last Surviving Village in Singapore | Kampong Lorong Buangkok🇸🇬',
       '外国人が連想する「日本」の本当のイメージとは？海外に20年住んだ僕が教える',
       'バンコクの大都会で路上ギターしたらチップいくら入る？【タイ】',
       "Japanese Reviews Singapore's UNI Restaurant | 🇸🇬Uni Gallery",
       'Hawkers After the Lock Down | Old Airport Road Food Centre, Singapore',
       'Cute Girl Tipping me! Busking at SPLIT, CROATIA. "All Laid Back and Stuff", composed by Andy Mckee,',
       'I Was Challenged By My Viewer… And This Is The Outcome🥊😤',
       'Japanese YouTuber Meets Dee Kosh | Famous Singapore YouTuber🇸🇬',
       'A Day in My Life as a Traveling Busker | Taiwan🇹🇼',
       'I Have Never Been So Disappointed 🇸🇬Holland Village',
       '13 AMAZING Things to See and Do at Singapore Changi Airport [Japanese]',
       'Would You Try This? Going Too Deep in Little India🇮🇳',
       '日本人のぼくが海外で受けた差別の話をします', 'マレーシア・ペナン島で路上ギターしたら予想外の結果にｗ',
       'シンガポールの変わった法律15選｜こんなので犯罪…！？罰金＆禁固刑', 'シンガポールで就職した企業がホワイトすぎるｗｗ',
       "You Wouldn't Believe What's Inside This Box!",
       'Singapore Katong Adventure! Colorful Peranakan Houses🏠🇸🇬',
       'Does He Regret Being Half Singaporean/Japanese? His Take on National Service🎖️',
       '日本も真似すべき？シンガポールの会社の良い点3つ！日本と比較してどうなのか？【勤労3ヶ月記念】',
       'Is Japan Mad? 60,000 People Traveling to Okinawa Next Holiday🇯🇵',
       '玉ねぎ1個300円…！シンガポールで一番高いスーパーに行った結果【激怒・明治屋】',
       '【聖地で演奏】バンプメドレーをたんぽぽ丘で弾いてみた｜BUMP OF CHICKEN・ギター',
       '【ラピュタの舞台】イギリスで『スラッグ渓谷の朝』をソロギターで弾いてみた（The Slug Valley in the Morning/Guitar/@Powis Castle, Wales)',
       '【速報】シンガポールで仕事決まりました。就職します【海外移住】', '【大公開】シンガポールで就職活動してるぼくの一日',
       '台湾で一番美味しい魯肉飯！1ヶ月住んだ僕が教えます【金峰魯肉飯】\u3000台北最美味的魯肉飯',
       "Inside Extreme Wow Suite | W Singapore's MOST EXPENSIVE ROOM!"],
      dtype=object)

In [118]:
df_yt_ghib["video_caption"].values[:35]

array(["['▼基本一人旅さん\\n', 'https://twitter.com/crazy_traveler1', '\\n\\n今回はシンガポールで駐在員として働く「基本一人旅」さんに駐在員の闇について迫りました。\\n\\n当然、働き方や待遇は会社によりけりですが、話を聞く限りめちゃくちゃ大変そう…。\\n\\n海外の駐在員は\\n・いい家\\n・健康保険\\n・高い給料\\n\\nなどを会社が提供してくれますが、その引き換えに\\n\\n・いつ来るか分からない任期\\n・会社に縛れる（圧倒的なコミットを強制される）ストレス\\n\\nこれらに苦しんでいる方が多いイメージです。\\n\\n一見、華やかな見える駐在員の生活ですが、今回お話聞いて「一概には言えないんだな」と感じましたね〜…。\\n\\nちなみに、現地採用のぼくは割とゆるくやらせてもらっています😇\\n\\n前回の動画：\\n・シンガポール駐在員の自宅を大公開。家賃は？\\n', 'https://www.youtube.com/watch?v=JJNW7...', '\\n・シンガポール駐在員の給料について暴露\\n', 'https://www.youtube.com/watch?v=p4DrC...', '\\n\\nシンガポールで就職する方法：\\n', 'https://www.ghib-oji.com/singapore-jo...', '\\n\\n\\n', '#シンガポール', '\\u3000', '#現地採用', '\\u3000', '#駐在員', '\\u3000', '#生活', '\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n ', 'http://urx3.nu/HTUJ', '\\n━━━━━━━━━━━━\\n🌐SNS・ブログ\\n・Instagram → ', 'https://www.instagram.com/ghibli_ojisan/', '\\n・Twitter → ', 'https://twitter.com/ghibli_ojisan', '\\n・Blog→ ', 'https://www.ghib-oji.com/', '\\n━━━━━━━━━━━━\\n🎸おすすめ動画3選！\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000', 'https://youtu.be/WudKhqj_Na8', '\\n・イタリアでトトロ弾いた結果…\\n\\u3000', 'https://youtu.be/3NptDf229nk', '\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000', 'https://youtu.be/_jhMSsAFKPQ', '\\n━━━━━━━━━━━━\\n😲自己紹介\\n会社を辞め、ギターを持って旅に出たGhibli Ojisan（ジブリおじさん）です。11ヶ月で27カ国訪れ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n\\n2018年8月にYouTube公式「急上昇クリエイター」として選出されたことをキッカケに、海外旅行やシンガポールについての動画もアップし始めました。\\n\\n世界旅行後は台湾1ヶ月プチ移住、ノルウェー3ヶ月生活（農業ボランティア）など経験し、2019年1月にシンガポールに拠点を移しました。\\n\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローお願いします！\\n\\n→チャンネル登録\\u3000', 'http://urx3.nu/HTUJ', '\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ ', 'https://ssl.form-mailer.jp/fms/dea63a...', '\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします']",
       "['😃チャンネル登録： ', 'http://urx3.nu/HTUJ', '\\n🎥関連動画「オーディションを受けてきた」：', 'https://www.youtube.com/watch?v=58rtK...', '\\n\\nシンガポールでは路上ライブを行うためにはライセンスが必要になります。以前、オーディションに参加してきたので、その結果報告です！\\n\\n結果は・・・合格しました！ほんと嬉しいです。\\n\\n「こういう企画やってほしい！」などあれば是非コメント欄で教えて下さい！\\n路上演奏の生配信は行いたいなぁと思っていますが、皆さんからもアイディアいただきたいです！\\n\\n海外 食レポ専門チャンネル『Taberu Travel』\\n▶', 'https://www.youtube.com/c/TaberuOjisan', '\\n\\nぼくの撮影機材\\n▶', 'https://www.ghib-oji.com/my-equipment/', '\\n\\n\\n', '#シンガポール', '\\u3000', '#バスキング', '\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n ', 'http://urx3.nu/HTUJ', '\\n━━━━━━━━━━━━\\n🌐SNS・ブログ\\n・Instagram → ', 'https://www.instagram.com/ghibli_ojisan/', '\\n・Twitter → ', 'https://twitter.com/ghibli_ojisan', '\\n・Blog→ ', 'https://www.ghib-oji.com/', '\\n━━━━━━━━━━━━\\n🎸おすすめ動画3選！\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000', 'https://youtu.be/WudKhqj_Na8', '\\n・イタリアでトトロ弾いた結果…\\n\\u3000', 'https://youtu.be/3NptDf229nk', '\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000', 'https://youtu.be/_jhMSsAFKPQ', '\\n━━━━━━━━━━━━\\n😲自己紹介\\n会社を辞め、ギターを持って旅に出たGhibli Ojisan（ジブリおじさん）です。11ヶ月で27カ国訪れ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n\\n2018年8月にYouTube公式「急上昇クリエイター」として選出されたことをキッカケに、海外旅行やシンガポールについての動画もアップし始めました。\\n\\n世界旅行後は台湾1ヶ月プチ移住、ノルウェー3ヶ月生活（農業ボランティア）など経験し、2019年1月にシンガポールに拠点を移しました。\\n\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローお願いします！\\n\\n→チャンネル登録\\u3000', 'http://urx3.nu/HTUJ', '\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ ', 'https://www.ghib-oji.com/contact/', '\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします']",
       '[\'以前、『ノルウェーの森でノルウェーの森を弾いてみた』という（詰まらないシャレみたいな）動画を作ったんですが、今回はそのメイキング映像です＾＾\\n\\n撮影地を見つけるまで、撮影地の様子などを公開しています！\\n\\n↓↓本編動画↓↓\\n『ノルウェーの森』をノルウェーの森で弾いてみた→\', \'https://youtu.be/0eNA4TpXV6k\', \'\\n\\n\\nジブリ作品の聖地でもよく撮影しています。\\n・台湾・九份で「いつも何度でも」を弾いてみた→\', \'https://youtu.be/WudKhqj_Na8\', \'\\n\\n\\n▼ Follow me!\\nSubscribe（チャンネル登録） → \', \'http://urx3.nu/HTUJ\', \'\\nInstagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\nTwitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\n▼ Other Videos（おすすめ動画）\\n-台湾・九份で「いつも何度でも」を弾いてみた（Spirited Away, Played at Taiwan）\\n\', \'https://youtu.be/WudKhqj_Na8\', \'\\n- イタリアでトトロ弾いた結果…（Totoro Played at Italy）\\n\', \'https://youtu.be/3NptDf229nk\', \'\\n-サマルカンドでザナルカンドを弾いてみた（Playing "To Zanarkand (FFX)" at Samarkand）\\n\', \'https://youtu.be/_jhMSsAFKPQ\', \'\\n\\n▼自己紹介\\n会社を辞め、ギターを持って旅に出たじぶりおじさんです。11ヶ月で26カ国訪れることができ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\nたまに音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローよろしくお願いします。\\n\\n▼お問い合わせ・企業案件・ライブ出演のご依頼\\n\', \'https://ssl.form-mailer.jp/fms/dea63a...\', \'\\n\\n※外部リンクのお問い合わせフォームに飛びます。\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします\']',
       '[\'Busked at Taipei! Amazing support. Love the people here! \\nThe songs I played were covers of Jack Dawson and Andy Mckee "Drifting" in lap-tap guitar style.\\n\\n台湾・台北の海沿いの街『淡水』で路上演奏（ストリートパフォーマンス）した際の動画です。ギターをひざに乗せて弾くスタイル！\\n\\n\\n▼ Follow me!\\nSubscribe（チャンネル登録） → \', \'http://urx3.nu/HTUJ\', \'\\nInstagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\nTwitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\n▼ Other Videos（おすすめ動画）\\n-Busking at Gent, Belgium\\u3000ベルギーで猫の恩返しを弾いてみた\\n\', \'https://youtu.be/5sNnwjgYWLE\', \'\\n-Playing "To Zanarkand (FFX)" at Samarkand\\u3000サマルカンドでザナルカンドを弾いてみた\\n\', \'https://youtu.be/_jhMSsAFKPQ\']',
       '["This thing called the \'circuit breaker\' is happening in Singapore. It\'s not actually a lockdown, but something similar. All non-essential shops will be closed and citizens are advised to stay home. It will last for about a month.\\n\\nI decided to film how it\'s like here in Singapore. \\nWe do not need to panic but we should all take this seriously and try to stay home as much as possible. Let\'s all stay strong and keep positive. Huat AH!\\n\\n😃Subscribe： ", \'http://urx3.nu/HTUJ\', \'\\n🎥Singapore TEKKA CENTRE Food Adventure!🌶️🇸🇬AMAZING Lamb Biriyani and Prata!!n：\', \'https://www.youtube.com/watch?v=BQohP...\', \'\\n\\nFollow me on social medias!\\n📸Instagram  \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n🐦Twitter \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\nBusiness Enquiries\\n✉️ghib.ojisan@gmail.com\\n\\n\', \'#Singapore\', \' \', \'#lockdown\', \' \', \'#Withme\', \' \', \'#Stayhome\']',
       '[\'😃Subscribe： \', \'http://urx3.nu/HTUJ\', \'\\n\\nI played Hikoukigumo from the Ghibli Film "Wind Rises (Kaze Tachinu)" in Singapore. How much will I earn i I play this? Watch till the end :)\\n\\nI played with my valid busking license.\\n\\nBelow Japanese:\\n今回は久しぶりの路上企画。風立ちぬの主題歌「ひこうき雲」を海外のシンガポールの路上で弾いてみたらお金いくら入るのでしょうか？\\n\\nシンガポールでの路上演奏のライセンスをGETしたので弾いてきました！場所はEast Coast Park（イースト・コースト・パーク）、海沿いの公園です。\\n\\nオチはいつもの感じですが、楽しんで頂けたらグッドボタンお願いします。チャンネル登録（\', \'http://urx3.nu/HTUJ）もお待ちしています＾＾\', \'\\n\\n海外 食レポ専門チャンネル『Taberu Travel』\\n▶\', \'https://www.youtube.com/c/TaberuOjisan\', \'\\n\\nぼくの撮影機材\\n▶\', \'https://www.ghib-oji.com/my-equipment/\', \'\\n\\n\', \'#風立ちぬ\', \'\\u3000\', \'#ひこうき雲\', \'\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n \', \'http://urx3.nu/HTUJ\', \'\\n━━━━━━━━━━━━\\n🌐SNS・ブログ\\n・Instagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n・Twitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n・Blog→ \', \'https://www.ghib-oji.com/\', \'\\n━━━━━━━━━━━━\\n🎸おすすめ動画3選！\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000\', \'https://youtu.be/WudKhqj_Na8\', \'\\n・イタリアでトトロ弾いた結果…\\n\\u3000\', \'https://youtu.be/3NptDf229nk\', \'\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000\', \'https://youtu.be/_jhMSsAFKPQ\', \'\\n━━━━━━━━━━━━\\n😲自己紹介\\n会社を辞め、ギターを持って旅に出たGhibli Ojisan（ジブリおじさん）です。11ヶ月で27カ国訪れ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n\\n2018年8月にYouTube公式「急上昇クリエイター」として選出されたことをキッカケに、海外旅行やシンガポールについての動画もアップし始めました。\\n\\n世界旅行後は台湾1ヶ月プチ移住、ノルウェー3ヶ月生活（農業ボランティア）など経験し、2019年1月にシンガポールに拠点を移しました。\\n\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローお願いします！\\n\\n→チャンネル登録\\u3000\', \'http://urx3.nu/HTUJ\', \'\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ \', \'https://www.ghib-oji.com/contact/\', \'\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします\']',
       "['▼シンガポールで就職する方法について書いたブログ記事\\n', 'https://www.ghib-oji.com/singapore-jo...', '\\n\\n今回はぼくが働いているシンガポール企業の福利厚生についてお話しました！\\n\\n・有給休暇\\n・病欠休暇\\n・残業手当\\n・パントリー\\n・マッサージ\\n\\nなどなど、以前働いていた日本企業と異なることが多いですね。\\nぜひ最後まで見てみてください〜！\\n\\n前回の動画：ぼくが貰ってる給料について\\n', 'https://www.youtube.com/watch?v=eUmaU...', '\\n\\n\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n ', 'http://urx3.nu/HTUJ', '\\n\\nInstagram → ', 'https://www.instagram.com/ghibli_ojisan/', '\\nTwitter → ', 'https://twitter.com/ghibli_ojisan', '\\n\\n━━━━━━━━━━━━\\n🎸おすすめ動画\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000', 'https://youtu.be/WudKhqj_Na8', '\\n・イタリアでトトロ弾いた結果…\\n\\u3000', 'https://youtu.be/3NptDf229nk', '\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000', 'https://youtu.be/_jhMSsAFKPQ', '\\n\\n━━━━━━━━━━━━\\n▼自己紹介\\n会社を辞め、ギターを持って旅に出たジブリおじさんです。11ヶ月で26カ国訪れることができ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローよろしくお願いします。\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ ', 'https://ssl.form-mailer.jp/fms/dea63a...', '\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします']",
       '["Enable CC for English subtitles!\\nSo today I visited Kampong Lorong Buangkok, the last remaining village in Singapore. I didn\'t know what to expect here, but I was amazed by what I saw.\\nLady getting eggs from her chickens, 4 digit postal codes, unreliable locks on doors... I felt like I time traveled. Old Singapore was still there. I really enjoyed my time and I hope you do too. Personal must visit in Singapore!\\n\\nGoogle Map of Kampong Lorong Buangkok:\\n", \'https://goo.gl/maps/Pq5C6wgX8dwRNKbE9\', \'\\n\\nIf you liked this video, please leave a thumbs-up and subscribe. Thank you.\\n\\nBelow Japanese:\\n近代国家のシンガポールに最後の村『Kampung Lorong Buangkok』があるのをご存知ですか？\\n\\n北東にぽつんと佇む、20〜30の家庭がある実在する村です。1956年に、沼地だったこの一帯を薬商人のスンさんが購入してから始まりました。\\n\\n😃チャンネル登録： \', \'http://urx3.nu/HTUJ\', \'\\n\\n・鶏を飼って卵を食べる家庭\\n・頼りない南京錠で家に鍵をかけている家\\n・4ケタの郵便番号（シンガポールは現在6ケタ）\\n\\n昔のシンガポールの暮らしが垣間見えた、いい経験になりました。所要時間は写真をたくさん撮っても30分〜1時間くらいかな。すごく小さな村ですが、貴重な体験ができると思います。おすすめです！\\n\\nシンガポール観光情報サイトオープン！\\n▶\', \'https://nekkyo-singapore.com/\', \'\\n\\nこの動画が少しでも面白かったらぜひグッドボタン＆チャンネル登録お願いします！隣のベルマークを押せば動画更新時に通知がいきます。みなさんからのコメントもすべて読んでいますのでお気軽に＾＾\\n\\n-----\\nスポンサーさま\\n★株式会社テイクシータ\\u3000ルームランプLED専門店 \\n\', \'https://item.rakuten.co.jp/senmontent...\', \'\\n★なかがわ野菊の里 \', \'https://www.youtube.com/user/nogikuno...\', \'\\n★宮古島ジョージ \', \'https://www.youtube.com/channel/UCVp8...\', \'\\n\\n\\n楽器スポンサーさま\\n★YAMAHA Singapore FGX5 \', \'https://sg.yamaha.com/index.html\', \'\\n\\nスポンサーにご興味ある方は \', \'https://www.ghib-oji.com/contact/\', \' よりご連絡ください。\\n-----\\n\\nシンガポールの観光チケットが最大60％OFF\\n▶\', \'https://www.govoyagin.com/ja/things-t...\', \'\\n\\nジブリおじさんに仕事を依頼する\\n▶\', \'https://www.ghib-oji.com/service/\', \'\\n\\n究極の飯テロ！旅するグルメチャンネル『Taberu Travel』\\n▶\', \'https://www.youtube.com/c/TaberuOjisan\', \'\\n\\nジブリおじさんの撮影機材\\n▶\', \'https://www.ghib-oji.com/my-equipment/\', \'\\n\\n使用音楽\\n▶\', \'https://www.epidemicsound.com/referra...\', \'\\n\\n\\n\', \'#シンガポール\', \'\\u3000\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n \', \'http://urx3.nu/HTUJ\', \'\\n━━━━━━━━━━━━\\n🌐SNS・ブログ\\n・Instagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n・Twitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n・Blog→ \', \'https://www.ghib-oji.com/\', \'\\n━━━━━━━━━━━━\\n🎸おすすめ動画3選！\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000\', \'https://youtu.be/WudKhqj_Na8\', \'\\n・イタリアでトトロ弾いた結果…\\n\\u3000\', \'https://youtu.be/3NptDf229nk\', \'\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000\', \'https://youtu.be/_jhMSsAFKPQ\', \'\\n━━━━━━━━━━━━\\n😲自己紹介\\n会社を辞め、ギターを持って旅に出たGhibli Ojisan（ジブリおじさん）です。11ヶ月で27カ国訪れ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n\\n2018年8月にYouTube公式「急上昇クリエイター」として選出されたことをキッカケに、海外旅行やシンガポールについての動画もアップし始めました。\\n\\n世界旅行後は台湾1ヶ月プチ移住、ノルウェー3ヶ月生活（農業ボランティア）など経験し、2019年1月にシンガポールに拠点を移しました。\\n\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローお願いします！\\n\\n→チャンネル登録\\u3000\', \'http://urx3.nu/HTUJ\', \'\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ \', \'https://www.ghib-oji.com/contact/\', \'\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします\']',
       "['今回は外国人が「日本」と聞くと連想するイメージについて、ぼくの体験談交えてお話しました。\\n\\nアメリカで育ったということもあり、「外の視点」から日本を見てたわけですが、やっぱり昔はテクノロジーとゲームがすごかったですね！\\n\\n特にポケモン。アメリカでも社会現象でした。\\n\\nでも最近の日本は、というと・・・ぜひ動画で見てください！\\n\\nP.S\\n本動画の内容は偏見で溢れています。\\n\\nP.S.2\\n動画ですごく大切なことを言い忘れたのですが、\\n\\n・自然災害の多さ\\n・放射能\\n\\n海外の人はこの2つの印象も大きかったですね。\\n\\n\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n ', 'http://urx3.nu/HTUJ', '\\n\\nInstagram → ', 'https://www.instagram.com/ghibli_ojisan/', '\\nTwitter → ', 'https://twitter.com/ghibli_ojisan', '\\n\\n━━━━━━━━━━━━\\n🎸おすすめ動画\\n・台湾・九份で「いつも何度でも」を弾いてみた\\n\\u3000', 'https://youtu.be/WudKhqj_Na8', '\\n・イタリアでトトロ弾いた結果…\\n\\u3000', 'https://youtu.be/3NptDf229nk', '\\n・サマルカンドでザナルカンドを弾いてみた\\n\\u3000', 'https://youtu.be/_jhMSsAFKPQ', '\\n\\n━━━━━━━━━━━━\\n▼自己紹介\\n会社を辞め、ギターを持って旅に出たジブリおじさんです。11ヶ月で26カ国訪れることができ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\n音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローよろしくお願いします。\\n\\n━━━━━━━━━━━━\\n▼お問い合わせ\\nお仕事のご依頼・お問い合わせはコチラ→ ', 'https://ssl.form-mailer.jp/fms/dea63a...', '\\n\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします']",
       '[\'少し昔の映像になりますが、パソコン漁ってたら出てきたので動画にしました。映像と音質のクオリティが悪くてすみません・・・！（スマホ推奨です）\\n\\nタイは路上の反応がよくありませんでしたが、この日は割と支援いたできました。支援額は動画の最後で触れていますので是非ご覧ください！\\n\\n曲は、Andy MckeeのDriftingです。\\n\\n\\n\\n▼ Follow me!\\nSubscribe（チャンネル登録） → \', \'http://urx3.nu/HTUJ\', \'\\nInstagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\nTwitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\n▼ Other Videos（おすすめ動画）\\n-台湾・九份で「いつも何度でも」を弾いてみた（Spirited Away, Played at Taiwan）\\n\', \'https://youtu.be/WudKhqj_Na8\', \'\\n- イタリアでトトロ弾いた結果…（Totoro Played at Italy）\\n\', \'https://youtu.be/3NptDf229nk\', \'\\n-サマルカンドでザナルカンドを弾いてみた（Playing "To Zanarkand (FFX)" at Samarkand）\\n\', \'https://youtu.be/_jhMSsAFKPQ\', \'\\n\\n▼自己紹介\\n会社を辞め、ギターを持って旅に出たじぶりおじさんです。11ヶ月で26カ国訪れることができ、世界各地でジブリのインストや叩き系ギターを弾いてきました。\\nたまに音楽系・旅系の動画をアップしていますので、よろしければチャンネル登録と各種SNSのフォローよろしくお願いします。\\n\\n▼お問い合わせ・企業案件・ライブ出演のご依頼\\n\', \'https://ssl.form-mailer.jp/fms/dea63a...\', \'\\n\\n※外部リンクのお問い合わせフォームに飛びます。\\n3〜5日以内に返信いたしますが、返信ない場合はTwitter/InstagramのDMにてお願いします\']',
       '["Today, I visited the Sea Urchin Heaven at Singapore. Uni Gallery is just 7 minutes walk from Bugis station. They specialise in fresh uni, directly shipped from Japan. (Some are Canadian and Australian). \\nSo is it really good? Does it please my Japanese tongue? Let\'s find out.\\n\\nThank you Uni Gallery for sponsoring this video. You can check out their food and book through their official website.\\n", \'https://www.unigallery.sg/\', \'\\n\\n😃Subscribe： \', \'http://urx3.nu/HTUJ\', \'\\n🎥Avoiding Tourist Traps in Osaka, Japan：\', \'https://www.youtube.com/watch?v=rMtCg...\', \'\\n\\nFollow me on social medias!\\n📸Instagram  \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n🐦Twitter \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\nEnquiries\\n✉️Please DM me on Instagram or Twitter\\n\\nBelow Japanese description:\\n今日はシンガポールのウニ＆刺し身専門店『Uni Gallery（ウニ・ギャラリー』にお呼ばれしてウニ天国を味わってきました。シンガポール人にも大人気のウニ。果たして本当においしいのでしょうか？日本人を代表してレビューしてみました！\\n\\nBugis（ブギス）から徒歩7分の位置にあるこちらのお店。豊洲から新鮮なウニを空輸しており、時期によってはカナダやオーストラリア産のウニも取り扱っています。\\n\\nやはり外国のシンガポールなので、日本にはなさそうなメニューも多数。面白いだけでなく味もちゃんとおいしいのが良かったです。\\n\\n総合的には大満足！ウニということもあって値段は張りますが、シンガポールにいてウニが恋しくなった人はぜひ行ってみてください！\\n\\n提供：Uni Gallery\\n\\n▼渡航前にチェック！シンガポール観光情報サイト『シンガポールと熱狂』 \', \'https://nekkyo-singapore.com/\', \'\\n\\nこの動画が少しでも面白かったらぜひグッドボタン＆チャンネル登録お願いします！みなさんからのコメントもすべて読んでいますのでお気軽に！\\n\\n-----\\nスポンサーさま(Sponsors)\\n★株式会社テイクシータ\\u3000ルームランプLED専門店 \\n\', \'https://item.rakuten.co.jp/senmontent...\', \'\\n★なかがわ野菊の里 \', \'https://www.youtube.com/user/nogikuno...\', \'\\n★宮古島ジョージ \', \'https://www.youtube.com/channel/UCVp8...\', \'\\n\\n楽器スポンサーさま\\n★YAMAHA Singapore FGX5 \', \'https://sg.yamaha.com/index.html\', \'\\n\\nスポンサーにご興味ある方は \', \'https://www.ghib-oji.com/contact/\', " よりご連絡ください。(If you\'re interested in sponsoring my channel, please drop a message from above)\\n-----\\n\\nお問い合わせ（Enquries）\\n▶", \'https://www.ghib-oji.com/contact/\', \'\\n\\n究極の飯テロ！旅するグルメチャンネル『Taberu Travel』\\n▶\', \'https://www.youtube.com/c/TaberuOjisan\', \'\\n\\nジブおじさんの撮影機材\\n▶\', \'https://www.ghib-oji.com/my-equipment/\', \'\\n\\n\', \'#Singapore\', \' \', \'#uni\', \'\\n━━━━━━━━━━━━\\n✔️チャンネル登録！（subscribe)\\n \', \'http://urx3.nu/HTUJ\', \'\\n━━━━━━━━━━━━\\n🌐SNS・ブログ\\n・Instagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n・Twitter → \', \'https://twitter.com/ghibli_ojisan\', \'\\n・Blog→ \', \'https://www.ghib-oji.com/\', \'\\n━━━━━━━━━━━━\']',
       '["I thought I should treat myself some amazing hawker food after the 3 month long semi-lockdown in Singapore. So I headed off to Old Airport Road Food Centre. It is one of the most popular hawker centre among the locals and it has over 150 stalls to choose from. Of course my main objective is to have delicious food. But today, I also wanted to show you what\'s around this area. Tourists only come here for the hawker centre. What else does this area have to offer? Join me on today\'s journey.\\n\\n(Sponsored link)\\xa0Shop Sports:\\xa0", \'https://www.crazybadman.com/\', \'\\nUse coupon code “ghibojisan10” to get 10% off your order.\\xa0\\n\\n😃Subscribe： \', \'http://urx3.nu/HTUJ\', \'\\n🎥Watch - Old Airport Road Food Centre FOOD TOUR：\', \'https://www.youtube.com/watch?v=2oaiJ...\', \'\\n\\nFollow me on social medias!\\n📸Instagram  \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n🐦Twitter \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\nMy Filming Equipment\\nCamera - \', \'https://amzn.to/3eHetM8\', \'\\nUltra Wide Lens - \', \'https://amzn.to/2Xp6rl8\', \'\\n\\nBusiness Enquiries\\n✉️ghib.ojisan@gmail.com\\nYou are welcome to send fan mails but I may not be able to respond to all of them. But I immensely appreciate your support. Thank you!\\n \\n\', \'#Singapore\', \' \', \'#hawkers\']',
       '[\'Busking Andy Mckee\\\'s "All Laid Back and Stuff", in Split, Croatia. Thanks to the girl who tipped me :)\\n\\nBelow Japanese:\\n世界旅行20ヶ国目、クロアチア。\\n\\nスプリット（Split）という海の見える街で路上演奏をしたのですが、おもちゃのギターを持った子供がずっと聞いてくれてキュンとしましたw（\', \'0:40\', \'からおもちゃギターの音が聞こえます）\\n\\nチップも投げ入れてくれて、ありがとう。\\n\\n【新動画UP!】\\n『路上パフォーマーの一日（台湾編）』という動画をアップしました。ぜひご覧ください！\\n\', \'https://youtu.be/mZUngen9FD0\', \'\\n\\n---\\nBusking Andy Mckee\\\'s "All Laid Back and Stuff", in Split, Croatia. Thanks to the girl who tipped me :)\\n\\n\\n\\n▼ Follow me!\\nSubscribe（チャンネル登録） → \', \'http://urx3.nu/HTUJ\', \'\\nInstagram → \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n\\n▼ Other Videos（おすすめ動画）\\n-Busking at Gent, Belgium\\u3000ベルギーで猫の恩返しを弾いてみた\\n\', \'https://youtu.be/5sNnwjgYWLE\', \'\\n-Playing "To Zanarkand (FFX)" at Samarkand\\u3000サマルカンドでザナルカンドを弾いてみた\\n\', \'https://youtu.be/_jhMSsAFKPQ\']',
       '["A lot of my viewers were sending this National Day Singlish Test, so I decided to accept the challenge. I\'m a Japanese living in Singapore for almost 2 years and I stay with my Singaporean family. Don\'t play play. It should be easy lah. \\n\\nANNOUNCEMENT: I have an exciting live stream going on 29th August, 11AM Singapore time! Jade Seah will be the host, and I will be exploring China Town. It will be an EPIC live stream - follow the instagram account below for more upcoming information. Hope to see you there! Huat!!\\n", \'https://www.instagram.com/letsgolive_sg/\', \'\\n\\n👕Merch Links:\\nSE Asia | \', \'https://ghib-ojisan.secure-decoration...\', \'\\nUSA & EU | \', \'https://teespring.com/stores/ghib-ojisan\', \'\\nJapan | \', \'https://suzuri.jp/ghib-ojisan\', \'\\n\\n😃Subscribe： \', \'http://urx3.nu/HTUJ\', \'\\n🎥Watch - My Culture Shock in Japan：\', \'https://youtu.be/qlRuhmCzVm8\', \'\\n\\nFollow me on social medias!\\n📸Instagram  \', \'https://www.instagram.com/ghibli_ojisan/\', \'\\n🐦Twitter \', \'https://twitter.com/ghibli_ojisan\', \'\\n\\nBusiness Enquiries\\n✉️ghib.ojisan@gmail.com\\nYou are welcome to send fan mails but I may not be able to respond to all of them. But I immensely appreciate your support. Thank you!\\n \\n\', \'#Singapore\', \' \', \'#Singlish\']',

In [119]:
# after studying the video titles and researching the YouTube channel
# the first videos to filter out will be his videos that cater to the japanese-speaking community
# we shall begin by filtering these out as the scope of our NLP project will only deal with English word features

In [120]:
df_yt_ghib["video_title"][0]

'【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】'

In [121]:
re.findall("[A-Za-z]", df_yt_ghib["video_title"][0])

[]

In [122]:
# use regex to extract out all english characters
# if video title is entirely in japanese, no english characters will be extracted
# filtering by an .notnull() method later will allow us to find all videos with (partial) english titles
df_yt_ghib["video_eng"] = df_yt_ghib["video_title"].str.extractall("([A-Za-z]+)").groupby(level=0)[0].apply(lambda x: " ".join(x))
df_yt_ghib.shape # verify new col added

(377, 10)

In [123]:
df_yt_ghib_eng = df_yt_ghib[df_yt_ghib["video_eng"].notnull()]
df_yt_ghib_eng["video_title"].values

array(['LAP TAPPING Guitar at Taipei!\u3000台北でひざ置きギター弾いてみた（Jack Dawson & Andy Mckee "Drifting" Cover）',
       'Singapore Semi-Lockdown Diary Day 0 | Japanese Living in SG',
       'How Much Will I Earn If I Played Hikoukigumo on the Street of Singapore? WIND RISES',
       'Visiting The Last Surviving Village in Singapore | Kampong Lorong Buangkok🇸🇬',
       "Japanese Reviews Singapore's UNI Restaurant | 🇸🇬Uni Gallery",
       'Hawkers After the Lock Down | Old Airport Road Food Centre, Singapore',
       'Cute Girl Tipping me! Busking at SPLIT, CROATIA. "All Laid Back and Stuff", composed by Andy Mckee,',
       'I Was Challenged By My Viewer… And This Is The Outcome🥊😤',
       'Japanese YouTuber Meets Dee Kosh | Famous Singapore YouTuber🇸🇬',
       'A Day in My Life as a Traveling Busker | Taiwan🇹🇼',
       'I Have Never Been So Disappointed 🇸🇬Holland Village',
       '13 AMAZING Things to See and Do at Singapore Changi Airport [Japanese]',
       'Would You Try This? Going Too Deep in Little India🇮🇳',
       "You Wouldn't Believe What's Inside This Box!",
       'Singapore Katong Adventure! Colorful Peranakan Houses🏠🇸🇬',
       'Does He Regret Being Half Singaporean/Japanese? His Take on National Service🎖️',
       'Is Japan Mad? 60,000 People Traveling to Okinawa Next Holiday🇯🇵',
       '【聖地で演奏】バンプメドレーをたんぽぽ丘で弾いてみた｜BUMP OF CHICKEN・ギター',
       '【ラピュタの舞台】イギリスで『スラッグ渓谷の朝』をソロギターで弾いてみた（The Slug Valley in the Morning/Guitar/@Powis Castle, Wales)',
       "Inside Extreme Wow Suite | W Singapore's MOST EXPENSIVE ROOM!",
       '【路上ギター】日本人がタイでジブリ弾いたらタイ人は微笑んでくれるのか？結末が…w',
       'I Cycled Around MARINA BAY SANDS! Best Thing To Do Here🇸🇬🚲',
       '"Zelda\'s Lullaby" Fingerstyle Guitar Cover | Zagreb, Croatia🇭🇷',
       '👨\u200d🦲 Actually Going For Tekong Style',
       '【ベルギー】奇跡のシンフォニーをギターで弾いてみた | Busking "August Rush" at Ghent, Belgium',
       'What I Like and Always Missed About Japan | Japanese Guy Goes Home',
       'KAONASHI (No-Face) Happily Plays Totoro at a Luxury in Singapore | W Singapore',
       '"Mom, My Merch is Out"', "Watching My Bangladeshi Bro's TikTok",
       '北欧ノルウェーにプチ移住した感想｜3ヶ月の住み込みボランティア体験（WWOOF）',
       'CARRYING YOU, Finger Style Guitar Cover Played in World Heritage Site| Laputa: Castle in the Sky',
       'KAZE NI NARU Finger Style Guitar Performance! From the Ghibli movie "The Cat Returns"',
       'This might make you NOT wanting to move to Singapore..',
       '『ノルウェーの森』をノルウェーの森で弾いてみた｜The Beatles "Norwegian Wood" 【ビートルズ・ウクレレ Ukulele】',
       "Japanese Discovers Singapore's Most Expensive Neighborhood | Tanglin Vlog",
       '🇲🇾Is JB Really Dangerous? Crossed the Border to Malaysia',
       'A Day in a life of a LOCKED DOWN Foreigner in Singapore - 24hrs',
       'Japanese Ladies Go Crazy For This',
       'Japanese Reviewing the Only Hot Spring in Singapore | Sembawang Onsen Park🇸🇬',
       'Singapore Has the Best Pronunciation of English!🇸🇬',
       '世界中でジブリ演奏した僕が教える！ジブリが人気だった国ランキングTOP5',
       'Japanese Son Cooks Takoyaki For Singaporean Family🇸🇬👨\u200d👩\u200d👧\u200d👧',
       'Honestly Reviewing Sightseeing Spots in Rome ITALY [Japanese]',
       'LAP TAPPING "Drifting", by Andy Mckee',
       "Here's How My Property Viewing Went…💰🇸🇬 Foreigner Buying a Resale HDB in Singapore",
       '自転車で琵琶湖一周してたら視聴者に会ったんだけどYouTubeすごくない？',
       'We Found Our Dream House',
       '100,000 Subscribers | Experiencing Heaven and Hell',
       "World's Best Airport's Lounge Review | Changi Lounge at Jewel💎",
       "Kiki's Delivery Service, Ryuuju No Dengon - Fingerstyle Guitar Cover",
       "Back to Singapore's Most Dangerous Hood",
       'Singapore vs Japanese Snacks | Which Is Better?🍿',
       'Another 3 Things You Should NOT Do To Japanese',
       "Japanese Reviews Singapore's Very First Solo Yakiniku | 🇸🇬Yakiniku Like",
       '3 Things You Should NOT Do To A Japanese',
       'ARIA "Rainbow" - Fingerstyle Guitar Cover',
       '🇹🇼How Much Will I Earn If I Played Video Game Music In Taiwan? -Interrupted By Fireworks, FF7',
       'What the Japanese Need To Learn From Singaporeans | Happy New Year! [cc]',
       "How It's Like Living in a HDB Flat | Japanese Living in Singapore [cc]",
       'What did Japan do to Singapore? | Civilian War Memorial - Sook Ching🇸🇬',
       'カオナシが『アシタカせっ記』をソロギターで弾いてみた｜Legend of Ashitaka Guitar Cover【Fingerstyle アコギ】',
       'UUUMから問い合わせが来たので国際電話しました。',
       "🇸🇬Japanese Searching For Flaws at Asia's TOP University | National University of Singapore",
       "Why I'm Buying a House In One of Asia's Most Expensive Country",
       'LIVE | Which Singapore Bak Kut Teh is the BEST?',
       '🐄600km Bicycle Trip in Hokkaido! Japan Travel Vlog🇯🇵',
       'Singaporean Auntie vs Durian Seller👩🏻  Ultimate Bargaining Battle⚔️',
       'Visiting the Philippines of Singapore🇵🇭 Lucky Plaza',
       "Is Singapore Really 'Bright' North Korea?",
       'Accidentally Visiting the Haunted Road in Singapore🇸🇬Tampines Vlog',
       'Reading Japanese Comments On My Videos To My Taiwanese Friend | Reaction',
       "Japanese Reviewing Singapore's Delivery Food 🇸🇬AMAZING Everything..",
       'Weathering With You (Tenki no ko) - Fingerstyle Guitar Cover（愛にできることはまだあるかい）',
       'Japanese Reacting to Chinese New Year in Singapore🇸🇬',
       "My Neighbor Totoro Played in OFFICIAL Totoro's Forest (Finger style guitar cover)",
       'Possibly The Most Beautiful Town in Singapore | PUNGGOL🇸🇬',
       'Working in Japan - 7 Things That Might Shock You⚡💀',
       'I Want To Live Here | Tiong Bahru Expedition🇸🇬',
       'LIVE｜Trying 3 BEST Chili Crabs in Singapore - STB Collab',
       'シンガポール・チャイナタウンのおすすめ観光ランキングTOP5！寺院めぐりからグルメまで',
       "🇸🇬Japanese Visiting Singapore's Most Dangerous Area | Yishun Vlog",
       'Singapore Tourism Board Contacted Me',
       "Inside a 14 MILLION Dollar House in Asia's Richest Country🇸🇬",
       'I Collabed With a Local YouTube Channel! 👴🏻Our Grandfather Story',
       'TOP 8 Food You MUST Try at Maxwell Food Centre in SINGAPORE!',
       '8 Hilarious Stereotypes Americans Have Against Asians',
       "I've Been Dreaming For This Day... McDonald's Reopens in Singapore🇸🇬",
       'Fitness in Singapore vs Japan',
       'How is it Really Like Living in Japan?🇯🇵Singaporeans Living Abroad',
       '世界最北のビール醸造所に行ってきた！【ノルウェー・トロムソ】マックビール醸造所（Mack Beer Brewery）',
       'The Most Livable Area in Singapore is Full of Fruits! Tampines🇸🇬',
       '『投げKISSをあげるよ』をジャイサルメールで弾いてみた｜ソロギター、andymori',
       "Maybe I Shouldn't Buy a House in Singapore",
       'A Day in a Life of a Japanese YouTuber in Singapore -  Featured on TODAY!',
       'Why I Chose to Live and Buy a House in Singapore Over Japan',
       "EP01: Staying at a Local Traveler's Hostel in Hokkaido! Japan Bicycle Trip Day1",
       '電動シェアスクーターでマリーナベイサンズ一周したら楽しすぎたw【neuron・シンガポール】',
       "These Little Kids Love This Song... Aerith's Theme From Final Fantasy 7 | Fingerstyle Guitar Cover",
       '1泊○万円！Wシンガポール宿泊記｜絶対に泊まりたくなる部屋とプールを紹介【セントーサ島のおすすめホテル】',
       "Final Fantasy 7 Fingerstyle Guitar Cover - Aerith's Theme",
       'Spirited Away "Always With Me" Played in Jiufen TAIWAN - Fingerstyle Guitar Cover',
       'EP03: Hokkaido Bicycle Trip Day 3! BREATHTAKING View & Rare Unpasteurized Milk at Local Farm',
       'Do you really need to be able to speak English to get a job in Singapore?',
       'The Real Reason I Came To Singapore💍',
       'カオナシがカントリーロードをソロギターで弾いてみた Country Road, Fingerstyle Guitar Cover（耳をすませば、Whisper of the Heart、アコギ）',
       '"Can you do Singapore Style?" Most AWKWARD Haircut',
       'Inside a $68 Japanese Hair Salon💇\u200d♂️',
       'タイVSシンガポール！20代現地採用が住むならどっち？でいぜろバンコク・コラボ',
       'Visiting the Craziest Condo in Singapore | The "Jenga" Interlace Condo🇸🇬',
       'Can You Believe This is Singapore?🇸🇬Changi Village🌴',
       'Finally Some Happy News | Singapore Lockdown Diary🇸🇬',
       "Cheapest Hair Cut In One Of Asia's Most Expensive Country｜ Singapore🇸🇬 Vlog",
       "Reacting to Indecipherable Comments on Singapore's Online Forum🤯",
       'シンガポールのIT企業で働くぼくの一日', '10 Things I Hate About Singapore',
       'How Much Will it Cost Sightseeing in Venice, Italy?',
       'I Went on a Date With My Mother in Law',
       'YOUはなぜ母国を離れた？外国人5人に聞いたら勇気が出た【Cambly・キャンブリー・紹介コード】',
       'This is Singapore Without Makeup. Japanese Exploring Local Area of Singapore[cc]',
       'Am I Breaking the Law?',
       'Typical Reactions of Singaporeans Visiting Japan the 1st Time🇯🇵',
       '【悲報】琵琶湖一周3日目にして膝が爆発しそう｜自転車＆ギターで琵琶湖一周【Vol.4】',
       'Playing Ghibli Music on the Street of Melaka, Malaysia! Finger Style Guitar',
       '世界で最も危険？トロルの舌でジャンプした！【トロルトゥンガ(Trolltunga)でハイキング＆キャンプ】',
       'NG集！「九份で千と千尋弾いてみた」の裏側【いつも何度でも＠台湾・九份】',
       'The Best Hawker Centre in Singapore?? Bedok 85🇸🇬',
       '登録者10万人超えしか行けないYouTube公式パーティに潜入した結果',
       'ジブリおじさん - 望郷（MV）【BOKYO, by Ghibli Ojisan】',
       "Trying Singapore's Craziest Cuisine🇸🇬",
       '大物YouTuberおるたなチャンネルを探せinシンガポール！渋谷ジャパンさんを探す旅',
       'シンガポールのカルチャーショックTOP10！日本人のぼくが3ヶ月住んで感じたこと',
       'How Much Will People in Singapore Tip if I Only Played Japanese Music? Guitar Busking🎸',
       'Great Job, Singapore... Japanese Reviews Salmon NOODLES🍜',
       'リトルインディアでおすすめの観光TOP5！グルメ、寺院、お土産もご紹介【シンガポール・Little India】',
       'I Did NOT Expect to See This in a Super Developed Country | Pasir Ris, Singapore🇸🇬',
       'Japanese Guy Learns Chinese! Teacher: Singaporean Mom🇸🇬🤷\u200d♀️',
       'オランダで路上ギターしたらオバちゃん乱入＆教会うるさいで割りとカオスになったｗ | Busking at Delft, the Netherlands',
       '"Can you do Tekong Style?" Haircut Gone Wrong in China Town🇸🇬',
       '🎖️World War 2 Survivor Opened This Shop in Singapore🇸🇬 Balestier',
       "Making Every Singaporean's Dream Come True During Lock Down",
       "Unveiling the Biggest Secrets of My Family's House in Singapore",
       "Singapore's Delivery Food MUST EATS!!🇸🇬",
       '【異世界】イッテQ!で有名になった『ウズベキスタン』に行ってきた！',
       "人生のメリーゴーランドをコルマールで弾いてみた【ハウルの動く城】（Merry Go Round Of Life, from Howl's Moving Castle）",
       'How to Enjoy Marina Bay Sands With Only $10 | SG Budget Trip',
       '「世界の約束」をハウルの舞台で弾いてみた！（コルマール・フランス）｜The Promise of the World',
       'Would You Come Here? Crazy Ear Wax Removal in China Town, Singapore👩🏻',
       'ベトナムのIT企業に潜入！給料や日本との働き方の違いは？',
       'Biggest Reason Why a 21 Year Old Japanese Female Came to Singapore',
       "Visiting a Ghost Town in Asia's Richest Country | Woodlands🇸🇬",
       "5 Products I'm Glad I Bought When Working From Home",
       'Two Asians Sightseeing Singapore! AMAZING Bakuteh, Local Craft Beer and Temple | Zendure SuperTank',
       'Tokiniwa Mukashi No Hanashi Wo, Fingerstyle Guitar Cover in Italy | Porco Rosso 紅の豚, 時には昔の話を🐷',
       'Japanese Son Tries Singaporean Mother in Law’s Signature Dish 👩🏻',
       'Japanese Attempts to Cook Iconic Singaporean Dish🇸🇬',
       'Would You Buy This?🐌 Shopping At Geylang Serai Malay Market, Singapore🇸🇬',
       'Singapore is FINALLY Alive - Phase 2 Day1',
       "Exposing the Flaws of Singapore's TOP Hotel - Fullerton Hotel🇸🇬",
       'YouTubeがんばりすぎて鬱（うつ）になりかけた話をしたいと思う｜症状と克服方法',
       "🇯🇵 Japanese Explaining Singapore's Kiasu Culture",
       'EP02: Eating WILD BEAR in Hokkaido! Japan Bicycle Trip Day2',
       'A (not-so) Typical Day of a Singapore YouTuber🇸🇬',
       'シンガポール｜超高級ホテルの飲茶ビュッフェYan Tingが神レベルの美味しさ',
       '🇲🇾Almost Regretted Crossing the Border to JB, Malaysia',
       'Is Changi Airport Really Empty Right Now?',
       "I'm Working With Singapore Tourism Board",
       '【ノルウェー】フロム鉄道の町を探索！素敵すぎる町並みに感動【Flam】',
       '1泊4万円…！超高級ホテルのビュッフェの実力とは？WシンガポールのThe Kitchen Tableに行ってきた！',
       'Porco Rosso - The Bygone Days played by Ghibli Ojisan',
       '8 Things I REALLY Enjoyed Doing in Kyoto | Food and Sightseeing',
       'Say Hi To This Kind Man!🇸🇬 PAYA LEBAR Expedition in Singapore',
       'I QUIT MY JOB AT A SINGAPORE COMPANY',
       '「君をのせて」をラピュタの舞台で弾いてみた｜ソロギター（"Laputa Carrying You" played at Wales, Caernarfon Castle)',
       '日曜日の夜にアコギ聴きませんか？【雑談・Q&Aも】',
       '🍜$6 vs $31 Bak Chor Mee | Which Is More Worth It?',
       "I've Found Adult's Paradise | Tanglin🇸🇬", 'シンガポールのIT企業で働くぼくの休日',
       "Why I Chose Not To Join Japan's Best YouTube Agency (MCN) | UUUM（ウーム）",
       'We Got A Gift From The Government',
       "Taiwanese Expat's Favorite Thing To Do In Singapore!🇸🇬",
       'ラピュタの舞台で「シータの決意」をノリで弾いてみた＠ウェールズ・カーナーヴォン城（Playing "Sheeta\'s Decision" at Caernarfon Castle）',
       'Meeting Singapore Celeb at Kampong Gelam | Sheikh Haikel🇸🇬',
       'How Much Will I Earn If I Played "Spirited Away" in Singapore? Busker Traveling the World',
       "What's Happening Here? NDP Rehearsal 2020🇸🇬",
       'ARIA Theme Song "Rainbow" Finger Style Guitar Cover in Venice, Italy',
       'An Extremely Sad Sight | Marina Bay Sands Mall',
       'This is where the rich people in Singapore live... | Orchard Residence',
       "Foreigner Tries Singapore's Most Famous Tau Sar Piah🥧Loong Fatt",
       'Final Episode: I Cycled 500KM in HOKKAIDO!🐮8 Days Bicycle Trip, Japan🇯🇵',
       'Ghibli Ojisan1歳！ノーカットで感謝するだけの動画【チャンネル運用1年・登録者数4万人突破】',
       "World's Best Airport After the Lock Down✈️",
       "カオナシが魔女の宅急便『ルージュの伝言』をソロギターで弾いてみた｜Kiki's Delivery Service Guitar Cover【Fingerstyle アコギ】",
       "Japanese Reviews Singapore's 7-ELEVEN Food! I am Surprised..",
       'Finger Style Guitar Cover THE LEGEND OF ASHITAKA | Princess Mononoke',
       "I don't know what to do from now on.",
       "Japanese Uncle Reviews Singapore's Fusion Sushi🍣🇸🇬",
       'LIFE UPDATE: We Bought Our House in Singapore!!🏠',
       '🇯🇵10 Strange Japanese Cultures and Habits That You Might Not Know',
       'Finger style guitar cover of "Kaze ni Naru" from the movie The Cat Returns',
       'ノルウェーでハーブ農業ボランティアしてる僕の一日 A day in a life of Norway WWOOFer',
       'Visiting the Ancient Town of Singapore! Toa Payoh🇸🇬',
       'Yumi Arai "Hikoukigumo" - Fingerstyle Guitar Cover | Wind Rises, Kaze Tachinu',
       "Japanese Searching for Flaws at Singapore's TOP Polytechnic | Ngee Ann Poly",
       '「Fコード弾けない」で挫折しそうな全ての人へ。バレーコードなんて弾けなくていい',
       'Time Has Completely Stopped Here | Abandoned Bukit Timah Railway Station, Singapore🇸🇬',
       'What do the Taiwanese Really Feel About Japan?',
       "Foreigner Tries Singapore's Most Favorite Beancurd🍮",
       'Japanese Tries To Speak SINGLISH For 24Hrs | NDP2020 Special🇸🇬',
       'Foreigner Attempts to Bargain Mao Shan Wang DURIAN!🇸🇬',
       'We (almost) Got Our Keys🏠 Singapore House-Hunt Finale?',
       'Why Do Japanese Speak Weird English? 🇯🇵Japanglish Explained',
       'Look what I got from my company. Expat Living in Singapore',
       '【全公開】ベトナム・ホーチミンのIT企業で働く男の一日',
       'Japanese Reviews 23 Snacks In Singapore 🇸🇬Which One is the Best?',
       'My Culture Shock in Japan | USA & Singapore vs Japan',
       'Finger Style Guitar Cover of "Ahead on our way", Final Fantasy VII (7) | BUSKING THE WORLD, Slovenia',
       '空港直結！シンガポール最新のモールJEWEL（ジュエル）が近未来的すぎた【観光名所】',
       "I Don't Want Circuit Breaker To End",
       'Which Chicken Rice is the Best? Collab Stream With STB',
       'Exposing the FLAWS of Marina Bay Sands Hotel | Review [cc]',
       "Would You Drink This? Yuan Yuang (Coffee+Tea) at Singapore's Legendary Coffee Shop",
       "I'm About to Give Up Learning Chinese",
       "Asking a Thai Masseur How It's Like Living in Singapore🇹🇭",
       'Working Culture in Japan vs Singapore',
       'Me Eating Lunch Alone at a Local Singaporean Company | EXPAT LIVING IN SINGAPORE',
       'HUAT AH! Japanese Preparing For Chinese New Year in Singapore🇸🇬',
       'ノルウェーのアパートが意外と○○だった！【Airbnbハウスツアー】',
       '【ダイジェスト版】東京でライブしてきた！ジブリ、FF、膝置きギターなど【不審者】',
       '店員がロボット！？未来のスーパー「Habitat」に行った結果…【シンガポール】',
       'CB Extended.. Singapore Semi Lockdown Diary🇸🇬',
       '🇧🇩My Bangladeshi Bro Trying Sushi For The First Time',
       'Who Knew Singapore Had This? LITTLE JAPAN Tour 🇸🇬',
       'My Honest Thoughts on Living in Singapore for 1 Year',
       'ノルウェーに住んでビックリしたことTOP7！カルチャーショックだらけだった',
       'Watching Singapore YouTubers🇸🇬',
       'Japanese Reviews BEST & WORST INSTANT NOODLES in Singapore',
       '１泊○万円！バンコク中心地の高級ホテルを徹底レビュー！【グランデ・センターポイント・ターミナル21｜Grande Centre Point Terminal 21】',
       'LIVE | Which Singapore Hokkien Mee Is The Best? With Secret Guest!',
       'Would You Eat This? Singaporean Flatmates Try Japanese NATTO Beans🤢',
       'Top 10 Studio Ghibli Gifts You HAVE to Buy in Japan',
       'ザナルカンドにてをサマルカンドで弾いてみた【アコギ・ソロギター】 | "To Zanarkand" in Samarkand, Uzbekistan (Acoustic guitar cover)',
       'My Bangladeshi Bro Still Cannot Come Out 🏥 4 Months of Quarantine',
       'The Kampong Times in Singapore👩🏻🌴',
       'Avoiding Tourist Traps in Osaka - My Local Food Recommendation',
       'Should you still come to Singapore? UPDATE',
       "Foreigner Tries Singapore's Most Popular Nonya Kueh🍰 Tiong Bahru Galicier Pastry",
       'How Much Do Bangladeshis Earn in Singapore?🇧🇩',
       'How It’s Like Joining a LION DANCE Troupe in Singapore!🇸🇬',
       'How to Please a Japanese',
       '5 Singaporean Habits I Do NOT Understand',
       'One of the Most EXPENSIVE Condo in Singapore! 25,000 S$/Month',
       'Getting Rid of my Flap💇\u200d♂️',
       'Back To Singapore’s Most Dangerous Neighbourhood | Yishun🇸🇬',
       'Playing TOTORO on the Street of Italy - How Much Will He Earn? Ghibli Maniac Busking',
       'My Bangladeshi Bro Cannot Leave His Dormitory🇧🇩 Semi-Lockdown Day8 Singapore',
       'A Day in a Life of Norway WWOOFer - Strawberry Farm Volunteer!',
       'I (Kinda) Got on Singapore RADIO! Chat About YouTube and Traveling'],
      dtype=object)

In [124]:
df_yt_ghib_eng.shape

(257, 10)

In [125]:
# looking more closely at our remaining posts, we need to be stricter
# quite a number of posts are intelligible as the english words present supplement the main japanese title/description
# there are also many travel videos that are titled in japanese which are not what we want anyway
# let's filter out all posts with japanese characters in it, even if it comes together with some english words

In [126]:
# but first, let's drop the col created above since it has no use anymore
df_yt_ghib.drop("video_eng", axis=1, inplace=True)

In [127]:
# .isascii() method does not capture certain videos that we want because of some non-ascii characters in the str
### these are "’" and "🇸🇬"

print(df_yt_ghib["video_title"][360]) # sample of .isascii() exception thrown
df_yt_ghib["video_title"][360].isascii()

How It’s Like Joining a LION DANCE Troupe in Singapore!🇸🇬

False

In [128]:
# let's replace them
df_yt_ghib.loc[:, ["video_title"]] = [s.replace("’", "'").replace("🇸🇬", "") for s in df_yt_ghib["video_title"]]
print(df_yt_ghib["video_title"][360]) # sample of replacement

How It's Like Joining a LION DANCE Troupe in Singapore!

In [129]:
# filter out all posts with japanese characters
only_eng = [title.isascii() for title in df_yt_ghib["video_title"]]
df_yt_ghib_eng = df_yt_ghib[only_eng] # rewrite df
df_yt_ghib_eng.shape

(145, 9)

In [130]:
df_yt_ghib_eng["video_title"].values

array(['Singapore Semi-Lockdown Diary Day 0 | Japanese Living in SG',
       'How Much Will I Earn If I Played Hikoukigumo on the Street of Singapore? WIND RISES',
       'Visiting The Last Surviving Village in Singapore | Kampong Lorong Buangkok',
       "Japanese Reviews Singapore's UNI Restaurant | Uni Gallery",
       'Hawkers After the Lock Down | Old Airport Road Food Centre, Singapore',
       'Cute Girl Tipping me! Busking at SPLIT, CROATIA. "All Laid Back and Stuff", composed by Andy Mckee,',
       'Japanese YouTuber Meets Dee Kosh | Famous Singapore YouTuber',
       'I Have Never Been So Disappointed Holland Village',
       '13 AMAZING Things to See and Do at Singapore Changi Airport [Japanese]',
       "You Wouldn't Believe What's Inside This Box!",
       "Inside Extreme Wow Suite | W Singapore's MOST EXPENSIVE ROOM!",
       'What I Like and Always Missed About Japan | Japanese Guy Goes Home',
       'KAONASHI (No-Face) Happily Plays Totoro at a Luxury in Singapore | W Singapore',
       '"Mom, My Merch is Out"', "Watching My Bangladeshi Bro's TikTok",
       'CARRYING YOU, Finger Style Guitar Cover Played in World Heritage Site| Laputa: Castle in the Sky',
       'KAZE NI NARU Finger Style Guitar Performance! From the Ghibli movie "The Cat Returns"',
       'This might make you NOT wanting to move to Singapore..',
       "Japanese Discovers Singapore's Most Expensive Neighborhood | Tanglin Vlog",
       'A Day in a life of a LOCKED DOWN Foreigner in Singapore - 24hrs',
       'Japanese Ladies Go Crazy For This',
       'Japanese Reviewing the Only Hot Spring in Singapore | Sembawang Onsen Park',
       'Singapore Has the Best Pronunciation of English!',
       'Honestly Reviewing Sightseeing Spots in Rome ITALY [Japanese]',
       'LAP TAPPING "Drifting", by Andy Mckee',
       'We Found Our Dream House',
       '100,000 Subscribers | Experiencing Heaven and Hell',
       "Kiki's Delivery Service, Ryuuju No Dengon - Fingerstyle Guitar Cover",
       "Back to Singapore's Most Dangerous Hood",
       'Another 3 Things You Should NOT Do To Japanese',
       "Japanese Reviews Singapore's Very First Solo Yakiniku | Yakiniku Like",
       '3 Things You Should NOT Do To A Japanese',
       'ARIA "Rainbow" - Fingerstyle Guitar Cover',
       'What the Japanese Need To Learn From Singaporeans | Happy New Year! [cc]',
       "How It's Like Living in a HDB Flat | Japanese Living in Singapore [cc]",
       'What did Japan do to Singapore? | Civilian War Memorial - Sook Ching',
       "Japanese Searching For Flaws at Asia's TOP University | National University of Singapore",
       "Why I'm Buying a House In One of Asia's Most Expensive Country",
       'LIVE | Which Singapore Bak Kut Teh is the BEST?',
       "Is Singapore Really 'Bright' North Korea?",
       'Accidentally Visiting the Haunted Road in SingaporeTampines Vlog',
       'Reading Japanese Comments On My Videos To My Taiwanese Friend | Reaction',
       "Japanese Reviewing Singapore's Delivery Food AMAZING Everything..",
       'Japanese Reacting to Chinese New Year in Singapore',
       "My Neighbor Totoro Played in OFFICIAL Totoro's Forest (Finger style guitar cover)",
       'Possibly The Most Beautiful Town in Singapore | PUNGGOL',
       'I Want To Live Here | Tiong Bahru Expedition',
       "Japanese Visiting Singapore's Most Dangerous Area | Yishun Vlog",
       'Singapore Tourism Board Contacted Me',
       "Inside a 14 MILLION Dollar House in Asia's Richest Country",
       'TOP 8 Food You MUST Try at Maxwell Food Centre in SINGAPORE!',
       '8 Hilarious Stereotypes Americans Have Against Asians',
       "I've Been Dreaming For This Day... McDonald's Reopens in Singapore",
       'Fitness in Singapore vs Japan',
       'The Most Livable Area in Singapore is Full of Fruits! Tampines',
       "Maybe I Shouldn't Buy a House in Singapore",
       'A Day in a Life of a Japanese YouTuber in Singapore -  Featured on TODAY!',
       'Why I Chose to Live and Buy a House in Singapore Over Japan',
       "EP01: Staying at a Local Traveler's Hostel in Hokkaido! Japan Bicycle Trip Day1",
       "These Little Kids Love This Song... Aerith's Theme From Final Fantasy 7 | Fingerstyle Guitar Cover",
       "Final Fantasy 7 Fingerstyle Guitar Cover - Aerith's Theme",
       'Spirited Away "Always With Me" Played in Jiufen TAIWAN - Fingerstyle Guitar Cover',
       'EP03: Hokkaido Bicycle Trip Day 3! BREATHTAKING View & Rare Unpasteurized Milk at Local Farm',
       'Do you really need to be able to speak English to get a job in Singapore?',
       '"Can you do Singapore Style?" Most AWKWARD Haircut',
       'Visiting the Craziest Condo in Singapore | The "Jenga" Interlace Condo',
       'Finally Some Happy News | Singapore Lockdown Diary',
       '10 Things I Hate About Singapore',
       'How Much Will it Cost Sightseeing in Venice, Italy?',
       'I Went on a Date With My Mother in Law',
       'This is Singapore Without Makeup. Japanese Exploring Local Area of Singapore[cc]',
       'Am I Breaking the Law?',
       'Playing Ghibli Music on the Street of Melaka, Malaysia! Finger Style Guitar',
       'The Best Hawker Centre in Singapore?? Bedok 85',
       "Trying Singapore's Craziest Cuisine",
       'I Did NOT Expect to See This in a Super Developed Country | Pasir Ris, Singapore',
       '"Can you do Tekong Style?" Haircut Gone Wrong in China Town',
       "Making Every Singaporean's Dream Come True During Lock Down",
       "Unveiling the Biggest Secrets of My Family's House in Singapore",
       "Singapore's Delivery Food MUST EATS!!",
       'How to Enjoy Marina Bay Sands With Only $10 | SG Budget Trip',
       'Biggest Reason Why a 21 Year Old Japanese Female Came to Singapore',
       "Visiting a Ghost Town in Asia's Richest Country | Woodlands",
       "5 Products I'm Glad I Bought When Working From Home",
       'Two Asians Sightseeing Singapore! AMAZING Bakuteh, Local Craft Beer and Temple | Zendure SuperTank',
       'Japanese Attempts to Cook Iconic Singaporean Dish',
       'Singapore is FINALLY Alive - Phase 2 Day1',
       "Exposing the Flaws of Singapore's TOP Hotel - Fullerton Hotel",
       'EP02: Eating WILD BEAR in Hokkaido! Japan Bicycle Trip Day2',
       'A (not-so) Typical Day of a Singapore YouTuber',
       'Is Changi Airport Really Empty Right Now?',
       "I'm Working With Singapore Tourism Board",
       'Porco Rosso - The Bygone Days played by Ghibli Ojisan',
       '8 Things I REALLY Enjoyed Doing in Kyoto | Food and Sightseeing',
       'Say Hi To This Kind Man! PAYA LEBAR Expedition in Singapore',
       'I QUIT MY JOB AT A SINGAPORE COMPANY',
       "I've Found Adult's Paradise | Tanglin",
       'We Got A Gift From The Government',
       "Taiwanese Expat's Favorite Thing To Do In Singapore!",
       'Meeting Singapore Celeb at Kampong Gelam | Sheikh Haikel',
       'How Much Will I Earn If I Played "Spirited Away" in Singapore? Busker Traveling the World',
       "What's Happening Here? NDP Rehearsal 2020",
       'ARIA Theme Song "Rainbow" Finger Style Guitar Cover in Venice, Italy',
       'An Extremely Sad Sight | Marina Bay Sands Mall',
       'This is where the rich people in Singapore live... | Orchard Residence',
       "Japanese Reviews Singapore's 7-ELEVEN Food! I am Surprised..",
       'Finger Style Guitar Cover THE LEGEND OF ASHITAKA | Princess Mononoke',
       "I don't know what to do from now on.",
       'Finger style guitar cover of "Kaze ni Naru" from the movie The Cat Returns',
       'Visiting the Ancient Town of Singapore! Toa Payoh',
       'Yumi Arai "Hikoukigumo" - Fingerstyle Guitar Cover | Wind Rises, Kaze Tachinu',
       "Japanese Searching for Flaws at Singapore's TOP Polytechnic | Ngee Ann Poly",
       'Time Has Completely Stopped Here | Abandoned Bukit Timah Railway Station, Singapore',
       'What do the Taiwanese Really Feel About Japan?',
       'Japanese Tries To Speak SINGLISH For 24Hrs | NDP2020 Special',
       'Foreigner Attempts to Bargain Mao Shan Wang DURIAN!',
       'Look what I got from my company. Expat Living in Singapore',
       'Japanese Reviews 23 Snacks In Singapore Which One is the Best?',
       'My Culture Shock in Japan | USA & Singapore vs Japan',
       'Finger Style Guitar Cover of "Ahead on our way", Final Fantasy VII (7) | BUSKING THE WORLD, Slovenia',
       "I Don't Want Circuit Breaker To End",
       'Which Chicken Rice is the Best? Collab Stream With STB',
       'Exposing the FLAWS of Marina Bay Sands Hotel | Review [cc]',
       "Would You Drink This? Yuan Yuang (Coffee+Tea) at Singapore's Legendary Coffee Shop",
       "I'm About to Give Up Learning Chinese",
       'Working Culture in Japan vs Singapore',
       'Me Eating Lunch Alone at a Local Singaporean Company | EXPAT LIVING IN SINGAPORE',
       'HUAT AH! Japanese Preparing For Chinese New Year in Singapore',
       'CB Extended.. Singapore Semi Lockdown Diary',
       'Who Knew Singapore Had This? LITTLE JAPAN Tour ',
       'My Honest Thoughts on Living in Singapore for 1 Year',
       'Watching Singapore YouTubers',
       'Japanese Reviews BEST & WORST INSTANT NOODLES in Singapore',
       'LIVE | Which Singapore Hokkien Mee Is The Best? With Secret Guest!',
       'Top 10 Studio Ghibli Gifts You HAVE to Buy in Japan',
       'Avoiding Tourist Traps in Osaka - My Local Food Recommendation',
       'Should you still come to Singapore? UPDATE',
       "How It's Like Joining a LION DANCE Troupe in Singapore!",
       'How to Please a Japanese',
       '5 Singaporean Habits I Do NOT Understand',
       'One of the Most EXPENSIVE Condo in Singapore! 25,000 S$/Month',
       "Back To Singapore's Most Dangerous Neighbourhood | Yishun",
       'Playing TOTORO on the Street of Italy - How Much Will He Earn? Ghibli Maniac Busking',
       'A Day in a Life of Norway WWOOFer - Strawberry Farm Volunteer!',
       'I (Kinda) Got on Singapore RADIO! Chat About YouTube and Traveling'],
      dtype=object)

In [131]:
# taking a closer look at the videos
# there are a number of travel videos as well as videos about guitar and/or busking
# let's filter these out

In [132]:
# search terms to find videos dedicated to travel
travel = ["croatia", "slovenia", "norway", "italy", "taiwan", "kyoto", "hokkaido", "osaka"]
travel = df_yt_ghib_eng["video_title"].str.lower().str.contains("|".join(travel))
df_yt_ghib_eng[travel].shape # 15 travel videos found

(16, 9)

In [133]:
# search terms to find videos dedicated to guitar/busking
busk = ["guitar", "busk", "tapping", "played by", "ghibli"]
busk = df_yt_ghib_eng["video_title"].str.lower().str.contains("|".join(busk))
df_yt_ghib_eng[busk].shape # 20 guitar/busking videos found

(20, 9)

In [134]:
# what are we left with after filtering these out?
df_yt_ghib_sel = df_yt_ghib_eng[~travel & ~busk]
df_yt_ghib_sel.shape # down to 70 posts

(114, 9)

In [135]:
# view current df
df_yt_ghib_sel.head(3)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
4,Singapore Semi-Lockdown Diary Day 0 | Japanese...,"[""This thing called the 'circuit breaker' is h...",2020-04-07,632WZ2a-GCw,84167,1931,51,318 Comments,Singapore Semi-Lockdown Diary Day 0 | Japanese...
5,How Much Will I Earn If I Played Hikoukigumo o...,"['😃Subscribe： ', 'http://urx3.nu/HTUJ', '\n\nI...",2019-08-05,PkVmO44f6p4,26635,550,11,92 Comments,How Much Will I Earn If I Played Hikoukigumo o...
7,Visiting The Last Surviving Village in Singapo...,"[""Enable CC for English subtitles!\nSo today I...",2019-12-20,YXb5tJdIwZs,59869,1501,23,249 Comments,Visiting The Last Surviving Village in Singapo...

In [136]:
df_yt_ghib_sel["video_title"].values

array(['Singapore Semi-Lockdown Diary Day 0 | Japanese Living in SG',
       'How Much Will I Earn If I Played Hikoukigumo on the Street of Singapore? WIND RISES',
       'Visiting The Last Surviving Village in Singapore | Kampong Lorong Buangkok',
       "Japanese Reviews Singapore's UNI Restaurant | Uni Gallery",
       'Hawkers After the Lock Down | Old Airport Road Food Centre, Singapore',
       'Japanese YouTuber Meets Dee Kosh | Famous Singapore YouTuber',
       'I Have Never Been So Disappointed Holland Village',
       '13 AMAZING Things to See and Do at Singapore Changi Airport [Japanese]',
       "You Wouldn't Believe What's Inside This Box!",
       "Inside Extreme Wow Suite | W Singapore's MOST EXPENSIVE ROOM!",
       'What I Like and Always Missed About Japan | Japanese Guy Goes Home',
       'KAONASHI (No-Face) Happily Plays Totoro at a Luxury in Singapore | W Singapore',
       '"Mom, My Merch is Out"', "Watching My Bangladeshi Bro's TikTok",
       'This might make you NOT wanting to move to Singapore..',
       "Japanese Discovers Singapore's Most Expensive Neighborhood | Tanglin Vlog",
       'A Day in a life of a LOCKED DOWN Foreigner in Singapore - 24hrs',
       'Japanese Ladies Go Crazy For This',
       'Japanese Reviewing the Only Hot Spring in Singapore | Sembawang Onsen Park',
       'Singapore Has the Best Pronunciation of English!',
       'We Found Our Dream House',
       '100,000 Subscribers | Experiencing Heaven and Hell',
       "Back to Singapore's Most Dangerous Hood",
       'Another 3 Things You Should NOT Do To Japanese',
       "Japanese Reviews Singapore's Very First Solo Yakiniku | Yakiniku Like",
       '3 Things You Should NOT Do To A Japanese',
       'What the Japanese Need To Learn From Singaporeans | Happy New Year! [cc]',
       "How It's Like Living in a HDB Flat | Japanese Living in Singapore [cc]",
       'What did Japan do to Singapore? | Civilian War Memorial - Sook Ching',
       "Japanese Searching For Flaws at Asia's TOP University | National University of Singapore",
       "Why I'm Buying a House In One of Asia's Most Expensive Country",
       'LIVE | Which Singapore Bak Kut Teh is the BEST?',
       "Is Singapore Really 'Bright' North Korea?",
       'Accidentally Visiting the Haunted Road in SingaporeTampines Vlog',
       "Japanese Reviewing Singapore's Delivery Food AMAZING Everything..",
       'Japanese Reacting to Chinese New Year in Singapore',
       'Possibly The Most Beautiful Town in Singapore | PUNGGOL',
       'I Want To Live Here | Tiong Bahru Expedition',
       "Japanese Visiting Singapore's Most Dangerous Area | Yishun Vlog",
       'Singapore Tourism Board Contacted Me',
       "Inside a 14 MILLION Dollar House in Asia's Richest Country",
       'TOP 8 Food You MUST Try at Maxwell Food Centre in SINGAPORE!',
       '8 Hilarious Stereotypes Americans Have Against Asians',
       "I've Been Dreaming For This Day... McDonald's Reopens in Singapore",
       'Fitness in Singapore vs Japan',
       'The Most Livable Area in Singapore is Full of Fruits! Tampines',
       "Maybe I Shouldn't Buy a House in Singapore",
       'A Day in a Life of a Japanese YouTuber in Singapore -  Featured on TODAY!',
       'Why I Chose to Live and Buy a House in Singapore Over Japan',
       'Do you really need to be able to speak English to get a job in Singapore?',
       '"Can you do Singapore Style?" Most AWKWARD Haircut',
       'Visiting the Craziest Condo in Singapore | The "Jenga" Interlace Condo',
       'Finally Some Happy News | Singapore Lockdown Diary',
       '10 Things I Hate About Singapore',
       'I Went on a Date With My Mother in Law',
       'This is Singapore Without Makeup. Japanese Exploring Local Area of Singapore[cc]',
       'Am I Breaking the Law?',
       'The Best Hawker Centre in Singapore?? Bedok 85',
       "Trying Singapore's Craziest Cuisine",
       'I Did NOT Expect to See This in a Super Developed Country | Pasir Ris, Singapore',
       '"Can you do Tekong Style?" Haircut Gone Wrong in China Town',
       "Making Every Singaporean's Dream Come True During Lock Down",
       "Unveiling the Biggest Secrets of My Family's House in Singapore",
       "Singapore's Delivery Food MUST EATS!!",
       'How to Enjoy Marina Bay Sands With Only $10 | SG Budget Trip',
       'Biggest Reason Why a 21 Year Old Japanese Female Came to Singapore',
       "Visiting a Ghost Town in Asia's Richest Country | Woodlands",
       "5 Products I'm Glad I Bought When Working From Home",
       'Two Asians Sightseeing Singapore! AMAZING Bakuteh, Local Craft Beer and Temple | Zendure SuperTank',
       'Japanese Attempts to Cook Iconic Singaporean Dish',
       'Singapore is FINALLY Alive - Phase 2 Day1',
       "Exposing the Flaws of Singapore's TOP Hotel - Fullerton Hotel",
       'A (not-so) Typical Day of a Singapore YouTuber',
       'Is Changi Airport Really Empty Right Now?',
       "I'm Working With Singapore Tourism Board",
       'Say Hi To This Kind Man! PAYA LEBAR Expedition in Singapore',
       'I QUIT MY JOB AT A SINGAPORE COMPANY',
       "I've Found Adult's Paradise | Tanglin",
       'We Got A Gift From The Government',
       'Meeting Singapore Celeb at Kampong Gelam | Sheikh Haikel',
       "What's Happening Here? NDP Rehearsal 2020",
       'An Extremely Sad Sight | Marina Bay Sands Mall',
       'This is where the rich people in Singapore live... | Orchard Residence',
       "Japanese Reviews Singapore's 7-ELEVEN Food! I am Surprised..",
       "I don't know what to do from now on.",
       'Visiting the Ancient Town of Singapore! Toa Payoh',
       "Japanese Searching for Flaws at Singapore's TOP Polytechnic | Ngee Ann Poly",
       'Time Has Completely Stopped Here | Abandoned Bukit Timah Railway Station, Singapore',
       'Japanese Tries To Speak SINGLISH For 24Hrs | NDP2020 Special',
       'Foreigner Attempts to Bargain Mao Shan Wang DURIAN!',
       'Look what I got from my company. Expat Living in Singapore',
       'Japanese Reviews 23 Snacks In Singapore Which One is the Best?',
       'My Culture Shock in Japan | USA & Singapore vs Japan',
       "I Don't Want Circuit Breaker To End",
       'Which Chicken Rice is the Best? Collab Stream With STB',
       'Exposing the FLAWS of Marina Bay Sands Hotel | Review [cc]',
       "Would You Drink This? Yuan Yuang (Coffee+Tea) at Singapore's Legendary Coffee Shop",
       "I'm About to Give Up Learning Chinese",
       'Working Culture in Japan vs Singapore',
       'Me Eating Lunch Alone at a Local Singaporean Company | EXPAT LIVING IN SINGAPORE',
       'HUAT AH! Japanese Preparing For Chinese New Year in Singapore',
       'CB Extended.. Singapore Semi Lockdown Diary',
       'Who Knew Singapore Had This? LITTLE JAPAN Tour ',
       'My Honest Thoughts on Living in Singapore for 1 Year',
       'Watching Singapore YouTubers',
       'Japanese Reviews BEST & WORST INSTANT NOODLES in Singapore',
       'LIVE | Which Singapore Hokkien Mee Is The Best? With Secret Guest!',
       'Should you still come to Singapore? UPDATE',
       "How It's Like Joining a LION DANCE Troupe in Singapore!",
       'How to Please a Japanese',
       '5 Singaporean Habits I Do NOT Understand',
       'One of the Most EXPENSIVE Condo in Singapore! 25,000 S$/Month',
       "Back To Singapore's Most Dangerous Neighbourhood | Yishun",
       'I (Kinda) Got on Singapore RADIO! Chat About YouTube and Traveling'],
      dtype=object)

### Export Selected Videos

In [137]:
print(df_yt_georgia_sel.shape)
df_yt_georgia_sel.head(1)

(134, 9)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,['UNIVERSAL HALLOWEEN HORROR NIGHTS 8! 👻\n\nHa...,2018-10-31,7xkdm3c4Ks8,8766,271,3,18 Comments,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS...

In [138]:
print(df_yt_ghib_sel.shape)
df_yt_ghib_sel.head(1)

(114, 9)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content
4,Singapore Semi-Lockdown Diary Day 0 | Japanese...,"[""This thing called the 'circuit breaker' is h...",2020-04-07,632WZ2a-GCw,84167,1931,51,318 Comments,Singapore Semi-Lockdown Diary Day 0 | Japanese...

In [139]:
# let's create a channel col first before merging
df_yt_georgia_sel.loc[:, "channel"] = "GC"
df_yt_ghib_sel.loc[:, "channel"] = "GO"

C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [140]:
# concatenate selected videos
df_yt_sel = pd.concat([df_yt_georgia_sel, df_yt_ghib_sel]).reset_index(drop=True)
df_yt_sel.shape

(248, 10)

In [141]:
# save out merged df
df_yt_sel.to_csv("../datasets/df_yt_sel.csv", index=False)

### Import YouTube Comments

#### Comments to Georgia Caney

In [142]:
df_yt_georgia_comments = pd.read_csv("../datasets/df_yt_georgia_comments_2020-10-17.csv")
df_yt_georgia_comments.shape

(11342, 6)

In [143]:
df_yt_georgia_comments.head(3)

,response_to,user,timestamp,comment,likes,replies_attracted
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,thattham,1 year ago,"I was a scare actor in killuminati, we hope u ...",4,CLAIM NOW!
1,HUGE FEBRUARY HAUL | MONKI & ROMWE,jess waldron,4 years ago,Loved this haul! Whenever you do one i always ...,NaN,View reply from Georgia Caney
2,HUGE FEBRUARY HAUL | MONKI & ROMWE,TheTravelCrush,4 years ago,OMGOSH!! Absolutely loved that kimono! I think...,NaN,NaN

In [144]:
# there are some duplicate scrapes
df_yt_georgia_comments.duplicated(keep="first").value_counts()

False    11316
True        26
dtype: int64

In [145]:
# drop duplicate scrapes
df_yt_georgia_comments = df_yt_georgia_comments.drop(df_yt_georgia_comments[df_yt_georgia_comments.duplicated(keep="first")].index)
df_yt_georgia_comments.shape

(11316, 6)

In [146]:
df_yt_georgia_comments.info() # some missing values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11316 entries, 0 to 11341
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   response_to        11316 non-null  object
 1   user               11289 non-null  object
 2   timestamp          11316 non-null  object
 3   comment            11316 non-null  object
 4   likes              6443 non-null   object
 5   replies_attracted  5814 non-null   object
dtypes: object(6)
memory usage: 618.8+ KB

In [147]:
# find comments with 0 likes
mask = df_yt_georgia_comments["likes"] == 0
df_yt_georgia_comments[mask]

Empty DataFrame
Columns: [response_to, user, timestamp, comment, likes, replies_attracted]
Index: []

In [148]:
# there are no comments with 0 likes
# comments with missing like values are most likely comments with 0 likes
# let's impute with 0
df_yt_georgia_comments["likes"].fillna(0, inplace=True)
df_yt_georgia_comments.info() # verify imputation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11316 entries, 0 to 11341
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   response_to        11316 non-null  object
 1   user               11289 non-null  object
 2   timestamp          11316 non-null  object
 3   comment            11316 non-null  object
 4   likes              11316 non-null  object
 5   replies_attracted  5814 non-null   object
dtypes: object(6)
memory usage: 618.8+ KB

In [149]:
df_yt_georgia_comments["timestamp"].unique()

array(['1 year ago', '4 years ago', '10 months ago',
       '10 months ago (edited)', '5 months ago', '7 months ago',
       '2 years ago', '2 years ago (edited)', 'N', 'o', ' ', 'c', 'm',
       'e', 'n', 't', 's', 'a', 'd', '.', '1 week ago', '5 years ago',
       '3 years ago', '11 months ago', '2 months ago',
       '2 months ago (edited)', '5 months ago (edited)', '4 months ago',
       '4 months ago (edited)', '6 months ago', '1 month ago',
       '3 years ago (edited)', '6 months ago (edited)', '3 months ago',
       '1 year ago (edited)', '9 months ago', '8 months ago',
       '8 months ago (edited)', '7 months ago (edited)',
       '3 months ago (edited)', '1 day ago (edited)', '2 weeks ago',
       '3 weeks ago', '2 days ago', '6 years ago',
       '11 months ago (edited)', '4 weeks ago', '4 weeks ago (edited)',
       '1 month ago (edited)', '5 days ago', '9 months ago (edited)',
       '1 day ago', '32 minutes ago', '1 week ago (edited)',
       '2 weeks ago (edited)', '20 hours ago', '6 days ago',
       '3 weeks ago (edited)', '3 days ago', '15 hours ago',
       '15 hours ago (edited)', '4 hours ago', '12 hours ago',
       '5 days ago (edited)', '7 hours ago', '14 hours ago',
       '8 hours ago', '2 days ago (edited)', '4 days ago',
       '4 days ago (edited)', '23 hours ago', '6 hours ago',
       '7 years ago', '8 years ago'], dtype=object)

In [150]:
# parsing the timestamps requires inference
# or we could assume comments to have the same timestamps as videos

#### Match Comments to Videos

In [151]:
df_yt_georgia_sel.head(1)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content,channel
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,['UNIVERSAL HALLOWEEN HORROR NIGHTS 8! 👻\n\nHa...,2018-10-31,7xkdm3c4Ks8,8766,271,3,18 Comments,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS...,GC

In [152]:
df_yt_georgia_comments.head(1)

,response_to,user,timestamp,comment,likes,replies_attracted
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,thattham,1 year ago,"I was a scare actor in killuminati, we hope u ...",4,CLAIM NOW!

In [153]:
# match comments to selected video
videos = df_yt_georgia_sel["video_title"].values
videos = df_yt_georgia_comments["response_to"].str.contains("|".join(videos))
df_yt_georgia_comments_sel = df_yt_georgia_comments[videos] # create new df for selected comments
df_yt_georgia_comments_sel.shape

C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

(6054, 6)

#### Comments to Ghib Ojisan

In [154]:
df_yt_ghib_comments = pd.read_csv("../datasets/df_yt_ghib_comments_2020-10-18.csv")
df_yt_ghib_comments.shape

(14518, 6)

In [155]:
df_yt_ghib_comments.head(3)

,response_to,user,timestamp,comment,likes,replies_attracted
0,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】,佐東忠司,1 year ago,始業時間に厳しく、終了時間がいい加減...\n時間に一番ルーズなのは日本人では？w\n友達が...,45,View reply
1,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】,no arara,1 year ago,日本の労働効率の悪さは、犯罪レベル。,23,NaN
2,【これが現実】エリート駐在員にストレスを吐き出してもらった結果…【シンガポール】,新たあらた,1 year ago,嫌なら辞めれば、というコメントは筋違い。海外赴任は期間限定だから数年で日本の元の環境に戻る。...,11,View reply

In [156]:
# there are some duplicate scrapes
df_yt_ghib_comments.duplicated(keep="first").value_counts()

False    14513
True         5
dtype: int64

In [157]:
# drop duplicate scrapes
df_yt_ghib_comments = df_yt_ghib_comments.drop(df_yt_ghib_comments[df_yt_ghib_comments.duplicated(keep="first")].index)
df_yt_ghib_comments.shape

(14513, 6)

In [158]:
df_yt_ghib_comments.info() # some missing values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14513 entries, 0 to 14517
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   response_to        14513 non-null  object
 1   user               14488 non-null  object
 2   timestamp          14513 non-null  object
 3   comment            14513 non-null  object
 4   likes              12733 non-null  object
 5   replies_attracted  7433 non-null   object
dtypes: object(6)
memory usage: 793.7+ KB

In [159]:
# find comments with 0 likes
mask = df_yt_ghib_comments["likes"] == 0
df_yt_ghib_comments[mask]

Empty DataFrame
Columns: [response_to, user, timestamp, comment, likes, replies_attracted]
Index: []

In [160]:
# there are no comments with 0 likes
# comments with missing like values are most likely comments with 0 likes
# let's impute with 0
df_yt_ghib_comments["likes"].fillna(0, inplace=True)
df_yt_ghib_comments.info() # verify imputation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14513 entries, 0 to 14517
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   response_to        14513 non-null  object
 1   user               14488 non-null  object
 2   timestamp          14513 non-null  object
 3   comment            14513 non-null  object
 4   likes              14513 non-null  object
 5   replies_attracted  7433 non-null   object
dtypes: object(6)
memory usage: 793.7+ KB

In [161]:
# let's also match the changes to video titles
df_yt_ghib_comments.loc[:, "response_to"] = [s.replace("’", "'").replace("🇸🇬", "") for s in df_yt_ghib_comments["response_to"]]

In [162]:
# filter out all posts with japanese characters
only_eng = [title.isascii() for title in df_yt_ghib_comments["response_to"]]
df_yt_ghib_comments_eng = df_yt_ghib_comments[only_eng] # rewrite df
df_yt_ghib_comments_eng.shape

(6829, 6)

In [163]:
df_yt_ghib_comments_eng["timestamp"].unique()

array(['6 months ago', '5 months ago', '6 months ago (edited)',
       '1 year ago', '6 hours ago', '1 year ago (edited)', '9 months ago',
       '9 months ago (edited)', '8 months ago', '3 months ago',
       '7 months ago', '7 months ago (edited)', '3 months ago (edited)',
       '2 months ago', '2 years ago', '1 day ago', '10 months ago',
       '1 month ago', '8 months ago (edited)', '4 months ago',
       '4 weeks ago', '3 weeks ago', '3 weeks ago (edited)',
       '4 weeks ago (edited)', '2 weeks ago (edited)', '2 weeks ago',
       '2 hours ago', '2 days ago', '2 months ago (edited)',
       '5 months ago (edited)', '11 months ago', '1 week ago',
       '10 months ago (edited)', '4 months ago (edited)',
       '1 month ago (edited)', '11 months ago (edited)', '6 days ago',
       '2 years ago (edited)', '20 hours ago', '2 days ago (edited)',
       '4 days ago', '1 week ago (edited)', '12 hours ago', '9 hours ago',
       '3 days ago', '6 days ago (edited)', '11 hours ago',
       '5 days ago (edited)', '12 hours ago (edited)', '13 hours ago',
       '5 days ago', '15 hours ago', '7 hours ago (edited)',
       '10 hours ago', '22 hours ago', '14 hours ago', '18 hours ago',
       '8 hours ago', '17 hours ago', '16 hours ago',
       '1 day ago (edited)', '7 hours ago', '21 hours ago',
       '4 days ago (edited)', '4 hours ago'], dtype=object)

In [164]:
# parsing the timestamps requires inference
# or we could assume comments to have the same timestamps as videos

#### Match Comments to Videos

In [165]:
df_yt_ghib_sel.head(1)

,video_title,video_caption,date_time,video_slug,video_views,video_likes,video_dislikes,video_comments,content,channel
4,Singapore Semi-Lockdown Diary Day 0 | Japanese...,"[""This thing called the 'circuit breaker' is h...",2020-04-07,632WZ2a-GCw,84167,1931,51,318 Comments,Singapore Semi-Lockdown Diary Day 0 | Japanese...,GO

In [166]:
df_yt_ghib_comments_eng.head(1)

,response_to,user,timestamp,comment,likes,replies_attracted
106,Singapore Semi-Lockdown Diary Day 0 | Japanese...,NaN,6 months ago,Even in Singapore now,1,View 4 replies

In [167]:
# match comments to selected video
videos = df_yt_ghib_sel["video_title"].values
videos = df_yt_ghib_comments_eng["response_to"].str.contains("|".join(videos))
df_yt_ghib_comments_sel = df_yt_ghib_comments_eng[videos] # create new df for selected comments
df_yt_ghib_comments_sel.shape

C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

(4572, 6)

#### Merge Selected Comments

In [168]:
df_yt_georgia_comments_sel.head(1)

,response_to,user,timestamp,comment,likes,replies_attracted
0,HALLOWEEN HORROR NIGHTS 8 AT UNIVERSAL STUDIOS! 👻,thattham,1 year ago,"I was a scare actor in killuminati, we hope u ...",4,CLAIM NOW!

In [169]:
df_yt_ghib_comments_sel.head(1)

,response_to,user,timestamp,comment,likes,replies_attracted
106,Singapore Semi-Lockdown Diary Day 0 | Japanese...,NaN,6 months ago,Even in Singapore now,1,View 4 replies

In [170]:
# before merging, let's add a channel col
df_yt_georgia_comments_sel.loc[:, "channel"] = "GC"
df_yt_ghib_comments_sel.loc[:, "channel"] = "GO"

C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\yewto\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [171]:
# create new df for merged comments
df_yt_comments_sel = pd.concat([df_yt_georgia_comments_sel, df_yt_ghib_comments_sel], axis=0)
df_yt_comments_sel.shape

(10626, 7)

In [172]:
# save out merged df
df_yt_comments_sel.to_csv("../datasets/df_yt_comments_sel.csv", index=False)